/* Add here all your css styles (customizations) */
/* Add here all your mixins */
/* Add here all your css styles (customizations) */
html {
  font-size: 100%;
}
body {
  background-color: #fcfcfc;
  color: #000000;
  font-family: Arial;
  font-size: 1em;
  line-height: 1.125em;
  background-image: url(../img/rmrs-background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  line-height: 1.125em;
}
h1 {
  color: #670f07;
  font-size: 2.25em;
  font-weight: bold;
}
h2 {
  color: #333333;
  font-size: 1.75em;
  font-weight: normal;
}
h3 {
  color: #333333;
  font-size: 1.25em;
  font-weight: bold;
}
h4 {
  color: #0e5725;
  font-size: 1.15em;
  font-weight: bold;
}
h5 {
  color: #670f07;
  font-family: verdana;
  font-size: 1.15em;
  text-transform: uppercase;
}
h6 {
  color: #333333;
  font-family: verdana;
  font-size: 1.05em;
  text-transform: uppercase;
}
img.right {
  border: 1px solid #eeece5;
  float: right;
  margin-left: 15px;
  padding: 5px;
}
img.left {
  border: 1px solid #eeece5;
  float: left;
  margin-right: 15px;
  padding: 5px;
}
a {
  color: #23456b;
}
a:visited {
  color: #466385;
}
.magazine-page h3 a {
  color: #23456b;
}
.magazine-page h3 a:visited {
  color: #466385;
}
.page-wrapper {
  padding: 15px 0;
}
.page-wrapper .content {
  background-color: #fcfcfc;
}
.page-wrapper .home-container {
  background-color: transparent;
}
.page-wrapper .home-container .home-search-form {
  background: #eeece5;
  padding: 25px;
  margin: 75px 0;
}
.page-wrapper .home-container .home-search-form .btn {
  background-color: #076727;
  border-color: #076727;
  padding: 6px 0;
  width: 100%;
  -webkit-transition: all, 0.2s, ease-in-out;
  -moz-transition: all, 0.2s, ease-in-out;
  -ms-transition: all, 0.2s, ease-in-out;
  -o-transition: all, 0.2s, ease-in-out;
}
.page-wrapper .home-container .home-search-form .btn:hover,
.page-wrapper .home-container .home-search-form .btn:active,
.page-wrapper .home-container .home-search-form .btn:focus {
  background-color: #0e5725;
  border-color: #0e5725;
}
.page-wrapper .home-container .content {
  background-color: transparent;
}
.page-wrapper .home-container .search-form {
  margin: 0;
}
.page-wrapper .home-container .form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}
.header-v1 {
  background-color: #fcfcfc;
}
.header-v1 .navbar-default .navbar-toggle {
  background-color: #33864f;
  border-color: #0e5725;
  color: #fcfcfc;
}
.header-v1 .navbar-default .navbar-toggle:hover,
.header-v1 .navbar-default .navbar-toggle:active,
.header-v1 .navbar-default .navbar-toggle:focus,
.header-v1 .navbar-default .navbar-toggle:visited {
  background: #33864f;
}
.header-v1 .navbar-default.main-navigation {
  background-color: #076727;
}
.header-v1 .navbar-default.main-navigation .navbar-nav {
  position: relative;
  /* Search box in main menu */
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li {
  position: static!important;
  /* Megamenu styles */
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li > a {
  color: #fcfcfc;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li > a:hover,
.header-v1 .navbar-default.main-navigation .navbar-nav > li > a:active,
.header-v1 .navbar-default.main-navigation .navbar-nav > li > a:focus {
  color: #fcfcfc;
  background-color: #0e5725 !important;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li > .active {
  color: #fcfcfc;
  background-color: #0e5725 !important;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.dropdown > .navbar-nav {
  background-color: #076727;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.dropdown:hover > .navbar-nav {
  display: block;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items {
  z-index: 999;
  padding: 14px;
  background-color: #fcfcfc;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items .headline {
  border-bottom: 1px solid #777777;
  margin-bottom: 3px;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items .headline h2 {
  color: #076727;
  font-size: 1.3em;
  font-weight: bold;
  border-bottom: none;
  padding-bottom: 0.6em;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.list-unstyled,
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.menu {
  padding: 0;
  width: 85%;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.list-unstyled > li,
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.menu > li {
  border-bottom: 1px solid #c7c7c7;
  display: block;
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  max-width: 298px;
  padding: 0;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.list-unstyled > li > a,
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.menu > li > a {
  color: #23456b;
  font-size: 0.8em;
  padding: 0.4em 0 0.4em 0;
  display: block;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.list-unstyled > li > a:visited,
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.menu > li > a:visited {
  color: #466385;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.list-unstyled > li ul,
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.menu > li ul {
  width: 100%;
  padding-left: 15px;
  border-top: 1px solid #c7c7c7;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.list-unstyled > li ul > li,
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.menu > li ul > li {
  list-style: none;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.list-unstyled > li ul > li.first.last,
.header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items ul.menu > li ul > li.first.last {
  border: none;
  padding-bottom: 0;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search {
  border-left: 1px solid #0e5725;
  border-right: 1px solid #33864f;
  border-top: none;
  border-bottom: none;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search:after {
  border-left: 1px solid #0e5725;
  right: 1px;
  content: " ";
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search > a {
  padding: 0.5em 0.7em;
  font-size: 1.2em;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search > a:before {
  border-right: 1px solid #33864f;
  left: 1px;
  content: " ";
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search > .search {
  padding: 8px 10px;
  font-size: 1.3em;
  color: #fcfcfc;
  cursor: pointer;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search > .search:hover,
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search > .search.fa-times {
  background-color: #0e5725 !important;
  color: #fcfcfc !important;
  font-size: 1.3em;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search .input-group {
  padding: 23px 0;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search .form-actions {
  margin: 0;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search .search-open {
  background-color: #fcfcfc;
  display: none;
  position: absolute;
  right: 0;
  top: 38px;
  z-index: 999;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search .search-open .input-group {
  width: 100%;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search .search-open .form-item {
  width: 85%;
  margin: 0;
  float: left;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search .btn {
  background-color: #076727;
  border-color: #076727;
  padding: 6px 0;
  width: 100%;
  -webkit-transition: all, 0.2s, ease-in-out;
  -moz-transition: all, 0.2s, ease-in-out;
  -ms-transition: all, 0.2s, ease-in-out;
  -o-transition: all, 0.2s, ease-in-out;
}
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search .btn:hover,
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search .btn:active,
.header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search .btn:focus {
  background-color: #0e5725;
  border-color: #0e5725;
}
.text-green {
  color: #076727;
}
.usda-branding-top {
  width: 390px;
}
.usda-branding-top h2,
.usda-branding-top img {
  display: inline-block;
  margin-right: 7px;
}
.usda-branding-top h2 {
  color: #000000;
  line-height: 20px;
  padding-top: 12px;
  font-family: "Arial", san-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: bottom;
  margin-top: 0;
}
.usda-branding-top h2 small {
  font-size: 12px;
  text-transform: none;
  line-height: inherit;
  font-weight: bold;
  color: #333333;
}
.usda-branding-top p {
  font-size: 14px;
  color: #333333;
  margin: 0;
}
.usda-branding-top .first-row {
  height: 64px;
}
.usda-branding-top .second-row {
  padding-top: 10px;
  border-top: 2px solid #eeece5;
}
.page-footer {
  background-color: #333333;
  color: #fcfcfc;
  padding: 1.2em 0;
}
.page-footer .copyright {
  padding: 10px 0 0 0;
}
.page-footer .copyright .menu {
  margin-bottom: 0;
}
.page-footer .copyright .content {
  padding: 0;
}
.page-footer .copyright .content > ul {
  list-style: none;
  padding: 0;
}
.page-footer .copyright .content > ul > li {
  display: inline-block;
  padding: 0 0.5em;
  margin: 0;
  border-right: 1px solid #fcfcfc;
}
.page-footer .copyright .content > ul > li:last-child {
  border-right: none;
}
.page-footer .copyright .content > ul > li > a {
  text-decoration: underline;
  color: #fcfcfc;
}
.page-footer .follow-us {
  vertical-align: middle;
  margin-bottom: 0;
  padding-top: 5px;
}
.page-footer .follow-us > li {
  vertical-align: middle;
}
.page-footer .social-icons li {
  margin-bottom: 0;
}
.front-page-highlights-title {
  background-color: #333333;
  padding: 1em;
}
.front-page-highlights-title h2 {
  color: #fcfcfc;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
.front-page-highlights-title h2 a {
  color: #fcfcfc;
  font-weight: bold;
}
.front-page-highlights {
  background-color: #fcfcfc;
  font-size: 14px;
}
.front-page-highlights a {
  color: #23456b;
  text-decoration: underline;
}
.front-page-highlights a:hover {
  color: #466385;
  text-decoration: underline;
}
.group-list-imgs > a > img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border: none;
}
.tab-v3 {
  background-color: #333333;
  border-color: #000000;
}
.tab-v3 .nav-tabs > li > a {
  padding: 9px 16px;
  border: none;
  background: none;
  color: #fff;
}
.tab-v3 .nav-tabs > li > a:hover {
  background: #eeece5;
  color: #000000;
}
.tab-v3 .nav-tabs > li > a.active {
  background: #fcfcfc;
  padding: 7px 15px 9px;
  border: solid 1px #eee;
  border-top: solid 2px #466385;
  border-bottom: none !important;
  color: #000000;
}
.tab-v3 .navbar-brand {
  padding: 10px 18px;
  font-size: 13px;
  line-height: auto;
  height: auto;
  font-style: italic;
  color: #eeece5;
}
.tab-v3 .navbar-brand:hover {
  color: #fcfcfc;
  cursor: default;
}
.tab-v3 ul.primary {
  margin: 0;
}
.content {
  padding: 10px 0;
  overflow: hidden;
}
.view-keywords-cloud .views-row {
  float: left;
  margin: 5px;
}
.field-type-text-long {
  padding-bottom: 1em;
}
.field-name-field-photos.field-type-field-collection .field-item {
  display: inline-block;
  vertical-align: top;
  padding-left: 1em;
}
/************************************************/
/******            SMALL DEVICES           ******/
/************************************************/
@media (max-width: 767px) {
  .header-v1 {
    overflow-x: hidden;
  }
  .header-v1 h2 {
    font-size: 1.2em;
    color: #fcfcfc;
  }
  .header-v1 .navbar-default {
    margin-bottom: 0;
    border: none;
  }
  .header-v1 .navbar-default .navbar-collapse {
    max-height: initial;
    padding: 0;
    border: none;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav {
    max-width: 100%;
    margin: 0;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li {
    padding: 0;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li.dropdown > .navbar-nav {
    display: block;
    padding: 0;
    margin: 0;
    background-color: #33864f;
    border-top: 1px solid #0e5725;
    border-bottom: 1px solid #0e5725;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li.dropdown > .navbar-nav a {
    padding: 0.76em 2.0em;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search {
    display: block;
    width: 100%;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search > .search {
    display: none;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li.menu-search .search-open {
    display: block;
    position: relative;
    left: initial;
    top: initial;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items {
    position: relative;
    top: initial;
    left: initial;
    padding: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    display: block;
  }
  .front-page-highlights-title {
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .front-page-highlights {
    text-align: center;
    margin-bottom: 15px;
  }
  .front-page-highlights .caption {
    padding: 1em;
  }
  .front-page-highlights img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 15px;
  }
  .home-container .search-form .form-text,
  .home-container .search-form .form-select {
    border-right: 1px solid #ccc;
  }
  .page-footer {
    text-align: center;
  }
  .page-footer .pull-left {
    display: block;
    float: none !important;
  }
  .page-footer .menu {
    text-align: center;
  }
  .page-footer .follow-us {
    margin: 1.5em 0;
    text-align: center;
  }
}
/**********************************************/
/******            TABLET SIZE           ******/
/**********************************************/
@media (min-width: 768px) {
  .header-v1 .navbar-collapse {
    padding: 0;
  }
  .header-v1 .navbar-default.main-navigation {
    min-height: 38px;
    background-color: #076727;
    margin-bottom: 0;
    border: none;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav {
    width: 100%;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li {
    padding: 0;
    border-right: 1px solid #333333;
    border-left: 1px solid #33864f;
    position: relative;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li:first-child {
    border-left: 1px solid #33864f;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li:first-child:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-left: 1px solid #333333;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li > a {
    text-transform: uppercase;
    color: #fcfcfc;
    font-size: 0.75em;
    padding: 0.76em 2.5em;
    white-space: nowrap;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li > a:hover,
  .header-v1 .navbar-default.main-navigation .navbar-nav > li > a:active,
  .header-v1 .navbar-default.main-navigation .navbar-nav > li > a:focus {
    color: #fcfcfc;
    background-color: #0e5725 !important;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li > .active {
    color: #fcfcfc;
    background-color: #0e5725 !important;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li.dropdown > .navbar-nav {
    background-color: #076727;
    position: absolute;
    top: 99%;
    display: none;
    z-index: 200;
    border-top: 1px solid #0e5725;
    width: auto;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li.dropdown > .navbar-nav:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #33864f;
    content: " ";
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li.dropdown > .navbar-nav > li {
    display: block;
    width: 100%;
    border-top: 1px solid #33864f;
    border-bottom: 1px solid #0e5725;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li:hover > .navbar-nav {
    display: block;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu .megamenu-items {
    position: absolute;
    top: 38px;
    left: 0;
    padding: 14px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    display: none;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu:hover > .megamenu-items {
    display: block;
  }
  .header-v1 .navbar-default.main-navigation .navbar-nav > li.megamenu:hover > a:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fcfcfc;
    bottom: -5px;
    content: " ";
    height: 10px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 10px;
    z-index: 9999;
  }
  .front-page-highlights-title {
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .front-page-highlights {
    text-align: center;
    margin-bottom: 15px;
  }
  .front-page-highlights .caption {
    padding: 1em;
  }
  .front-page-highlights img {
    width: 100%;
    max-width: 330px;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 15px;
  }
  .home-container .search-form .form-text,
  .home-container .search-form .form-select {
    border-right: 1px solid #ccc;
  }
}
/***********************************************/
/******            DESKTOP SIZE           ******/
/***********************************************/
@media (min-width: 992px) {
  .front-page-highlights-title {
    margin-left: auto;
    margin-right: auto;
    min-height: 64px;
  }
  .front-page-highlights {
    text-align: left;
    padding: 15px;
    min-height: 236px;
  }
  .front-page-highlights .caption {
    padding: 0 0.5em;
  }
  .front-page-highlights img {
    max-width: 100%;
    margin-bottom: 11px;
    margin-top: 0;
  }
  .front-page-highlights p {
    margin: 0;
  }
  .home-container .search-form .form-text,
  .home-container .search-form .form-select {
    border-right: none;
  }
}
/*********************************************/
/******            LARGE SIZE           ******/
/*********************************************/
@media (min-width: 1200px) {
  .front-page-highlights-title {
    min-height: 48px;
  }
}
