/* Add here all your css styles (customizations) */

//Page styles
  html{
    font-size: 100%;
  }
  body{
    background-color: @white;
    color: @black;
    font-family: Arial;
    font-size: @size1;
    line-height: 1.125em;
    background-image: url(../img/rmrs-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
  }
  h1, h2, h3, h4, h5, h6{
    font-family:Arial, sans-serif;
    line-height: 1.125em;
  }
  h1{
    color: @red;
    //font-size: 3em;
    font-size:@size2;
    font-weight: bold;
  }

  h2{
    color: @darkgray;
    //font-size:2.25em;
    font-size:@size3;
    font-weight: normal;
  }

  h3{
    color: @darkgray;
    //font-size:1.75em;
    font-size:@size4;
    font-weight: bold;
  }

  h4{
    color: @darkgreen;
    //font-size:1.25em;
    font-size:@size5;
    font-weight: bold;
  }

  h5{
    color: @red;
    font-family: verdana;
    font-size:@size5;
    text-transform: uppercase;
  }

  h6{
    color: @darkgray;
    font-family: verdana;
    font-size:@size6;
    text-transform: uppercase;
  }
  img{
    &.right{
      border: 1px solid @lightgray;
      float: right;
      margin-left: 15px;
      padding: 5px;
    }
  }

  img
  {
    &.left{
      border: 1px solid @lightgray;
      float: left;
      margin-right: 15px;
      padding: 5px;
    }
  }

  a{
    color: @darkblue;
    &:visited{
      color: @blue;
    }
  }

//Overrides
  //Font colors and sizes
    .magazine-page{
      h3{
        a{
          color: @darkblue;
          &:visited{
            color: @blue;
          }
        }
      }
    }

  //Page wrapper and Content area
    .page-wrapper{
      padding: 15px 0;

      .content{
        background-color: @white;
      }

      .home-container{
        background-color: transparent;

        .home-search-form{
          background: @lightgray;
          padding: 25px;
          margin: 75px 0;

          .btn{
            background-color: @green;
            border-color: @green;
            padding: 6px 0;
            width: 100%;
            .transition();

            &:hover,
            &:active,
            &:focus{
              background-color: @darkgreen;
              border-color: @darkgreen;
            }
          }
        }
        .content{
          background-color: transparent;
        }
        .search-form{
          margin: 0;
        }
        .form-actions{
          margin-top:1em;
          margin-bottom: 1em;
        }
      }
    }



//Custom styles
  // Main navigation
    .header-v1{
      background-color: @white;
      .navbar-default{
        .navbar-toggle{
            background-color: @lightgreen;
            border-color: @darkgreen;
            color: @white;

            &:hover,
            &:active,
            &:focus,
            &:visited{
                background: @lightgreen;
            }
        }
        &.main-navigation{
          background-color: @green;
          .navbar-nav{
            position: relative;
            &>li{

              position:static!important;

              &:first-child{
                  &:before{
                  }
              }

              &>a{
                color: @white;
                &:hover,
                &:active,
                &:focus{
                  color: @white;
                  background-color: @darkgreen!important;
                }

              }

              &>.active{
                color: @white;
                background-color: @darkgreen!important;
              }

              &.dropdown{
                >.navbar-nav{
                  background-color: @green;

                  &:before{
                  }

                  >li{
                  }

                }

                &:hover{

                  &>.navbar-nav{
                    display:block;
                  }

                }

              }

              /* Megamenu styles */
              &.megamenu{

                .megamenu-items{
                  z-index: 999;
                  padding: 14px;
                  background-color: @white;

                  // Headings
                  .headline{

                    border-bottom: 1px solid @gray;
                    margin-bottom: 3px;

                    h2{
                      color:@green;
                      font-size: 1.3em;
                      font-weight: bold;
                      border-bottom: none;
                      padding-bottom: 0.6em;
                    }
                  }

                  // Sub Menu
                  ul{
                    &.list-unstyled,
                    &.menu{
                      padding: 0;
                      width: 85%;

                      &>li{
                        border-bottom: 1px solid @silver;
                        display: block;
                        list-style: none;
                        margin-left: 0;
                        margin-bottom: 0;
                        max-width: 298px;
                        padding: 0;

                        &>a{
                          color: @darkblue;
                          font-size: 0.8em;
                          padding:0.4em 0 0.4em 0;
                          display: block;
                          &:visited{
                            color: @blue;
                          }
                        }

                        // Sub item
                        ul{
                          width: 100%;
                          padding-left: 15px;
                          border-top: 1px solid @silver;
                          &>li{
                            list-style: none;
                            &.first.last{
                              border: none;
                              padding-bottom: 0;
                            }
                          }
                        }

                      }
                    }
                  }

                }

              }

            }

            /* Search box in main menu */
            >li.menu-search{
              border-left: 1px solid @darkgreen;
              border-right: 1px solid @lightgreen;
              border-top: none;
              border-bottom: none;
              &:after{
                border-left: 1px solid @darkgreen;
                right: 1px;
                content: " ";
                position: absolute;
                display: block;
                height: 100%;
                top: 0;
              }
              &>a{
                padding: 0.5em 0.7em;
                font-size: 1.2em;
                &:before{
                  border-right: 1px solid @lightgreen;
                  left: 1px;
                  content: " ";
                  position: absolute;
                  display: block;
                  height: 100%;
                  top: 0;
                }
              }

              >.search{
                padding: 8px 10px;
                font-size: 1.3em;
                color: @white;
                cursor: pointer;
                &:hover,
                &.fa-times{
                  background-color: @darkgreen!important;
                  color: @white!important;
                  font-size: 1.3em;
                }
              }

              .input-group{
                padding:23px 0;
              }

              .form-actions{
                margin: 0;
              }

              .search-open {
                  background-color: @white;
                  display: none;
                  position: absolute;
                  right:0;
                  top:38px;
                  z-index: 999;
                  .drop-shadow(0, 1px, 2px, 0.5);
              }

              .search-open .input-group {
                  width: 100%;
              }

              .search-open .form-item {
                  width: 85%;
                  margin: 0;
                  float: left;
              }

              .btn{
                background-color: @green;
                border-color: @green;
                padding: 6px 0;
                width: 100%;
                .transition();

                &:hover,
                &:active,
                &:focus{
                  background-color: @darkgreen;
                  border-color: @darkgreen;
                }
              }

            }

          }

        }

      }

    }
  // Styles to set colors
    .text-green{
      color:@green;
    }

  // Top styles
    .usda-branding-top{

      width: 390px;

      h2, img{
        display: inline-block;
        margin-right: 7px;
      }

      h2{
        color:@black;
        line-height: 20px;
        padding-top:12px;
        font-family: "Arial", san-serif;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        vertical-align: bottom;
        margin-top: 0;
        small{
          font-size: 12px;
          text-transform: none;
          line-height: inherit;
          font-weight: bold;
          color: @darkgray;
        }
      }
      p{
        font-size: 14px;
        color: @darkgray;
        margin:0;
      }

      .first-row{
        height: 64px;
      }

      .second-row{
        padding-top: 10px;
        border-top: 2px solid @lightgray;
      }

    }

  // Footer styles
    .page-footer{

      background-color: @darkgray;
      color: @white;
      padding:1.2em 0;

      .copyright{
        padding: 10px 0 0 0;
        .menu{
          margin-bottom: 0;
        }
        .content{
          padding: 0;
          &>ul{
            list-style: none;
            padding: 0;
            &>li{
              display: inline-block;
              padding: 0 0.5em;
              margin:0;
              border-right: 1px solid @white;
              &:last-child{
                border-right: none;
              }
              &>a{
                text-decoration: underline;
                color: @white;
              }
            }

          }
        }
      }

      .follow-us{
        vertical-align: middle;
        margin-bottom: 0;
        padding-top: 5px;
        &>li{
          vertical-align: middle;
        }
      }

      .social-icons{
        li{
          margin-bottom: 0;
        }
      }

    }

  // Content styles

    // Homepage styles
      .front-page-highlights-title{
        background-color: @darkgray;
        padding: 1em;
        h2{
          color: @white;
          font-weight: bold;
          a{
            color: @white;
            font-weight: bold;
          }
          font-size:16px;
          margin: 0;
          padding: 0;
          line-height: 1em;
        }
      }
      .front-page-highlights{
        background-color: @white;
        font-size: 14px;
        a{
          color: @darkblue;
          text-decoration: underline;
          &:hover{
            color: @blue;
            text-decoration: underline;
          }
        }
      }

    // Listings
      .group-list-imgs{
        &>a{
          &>img{
            max-width:100%;
            height:auto;
            padding: 0;
            margin: 0;
            border: none;
          }
        }
      }

    // Edit node menu

      .tab-v3{
        background-color:@darkgray;
        border-color:@black;

        .nav-tabs{
          >li{
            >a{
              padding:9px 16px;
              border:none;
              background:none;
              color:#fff;
              &:hover{
                background:@lightgray;
                color:@black;
              }
              &.active{
                background:@white;
                padding:7px 15px 9px;
                border:solid 1px #eee;
                border-top:solid 2px @blue;
                border-bottom:none !important;
                color:@black;
              }
            }
          }
        }

        .navbar-brand{
          padding:10px 18px;
          font-size:13px;
          line-height:auto;
          height:auto;
          font-style:italic;
          color:@lightgray;
          &:hover{
            color:@white;
            cursor:default;
          }
        }

        ul{
          &.primary{
            margin:0;
          }
        }

      }

      .content {
          padding: 10px 0;
          overflow: hidden;
      }

  // Keyboard Cloud
    .view-keywords-cloud {
    	.views-row {
    		float: left;
    		margin: 5px;
    	}
    }

    .field-type-text-long{
        padding-bottom: 1em;
    }

    .field-name-field-photos.field-type-field-collection .field-item {
      display: inline-block;
      vertical-align: top;
      padding-left: 1em;
    }
