/* Add here all your mixins */

.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}

.transition (@all: all, @duration: 0.2s, @easing: ease-in-out) {
	-webkit-transition: @all, @duration, @easing;  
	-moz-transition:    @all, @duration, @easing;  
	-ms-transition:     @all, @duration, @easing;  
	-o-transition:      @all, @duration, @easing; 
}

.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

.rotation(@deg:45deg){
  .transform(rotate(@deg));
}