// add here all the style changes that apply for a specific resolution and up (mobile first strategy)

/************************************************/
/******            SMALL DEVICES           ******/
/************************************************/
    @media(max-width:@small-size){
        // Main navigation
            .header-v1{
                overflow-x: hidden;
                h2{
                    font-size: 1.2em;
                    color: @white;
                }
                .navbar-default{
                    margin-bottom: 0;
                    border: none;
                    .navbar-collapse{
                        max-height: initial;
                        padding: 0;
                        border: none;
                    }
                    &.main-navigation{
                        .navbar-nav{
                            max-width: 100%;
                            margin: 0;

                            &>li{
                                padding: 0;
                                &.dropdown{
                                    >.navbar-nav{
                                        display: block;
                                        padding: 0;
                                        margin: 0;
                                        background-color: @lightgreen;
                                        border-top: 1px solid @darkgreen;
                                        border-bottom: 1px solid @darkgreen;
                                        a{
                                            padding:0.76em 2.0em;
                                        }
                                    }
                                }

                                &.menu-search{
                                  display: block;
                                  width: 100%;

                                  &>.search{
                                    display: none;
                                  }
                                  .search-open{
                                    display: block;
                                    position:relative;
                                    left: initial;
                                    top: initial;
                                  }
                                }

                                &.megamenu{

                                  .megamenu-items{
                                    position: relative;
                                    top: initial;
                                    left: initial;
                                    padding: 0;
                                    .drop-shadow(0, 0, 0, 0.0);
                                    display: block;
                                  }
                                }
                            }
                        }

                    }
                }
            }
        // Homepage styles
            .front-page-highlights-title{
                margin-top: 15px;
                margin-left: -15px;
                margin-right: -15px;
            }
            .front-page-highlights{
                text-align: center;
                margin-bottom: 15px;
                .caption{
                    padding: 1em;
                }
                img{
                  max-width: 100%;
                  height: auto;
                  margin: auto;
                  display: block;
                  margin-top: 15px;
                }
            }
            .home-container{
                .search-form{
                  .form-text,
                  .form-select{
                    border-right:1px solid #ccc;
                  }
                }
            }
        // Footer styles
            .page-footer{
                text-align: center;
                .pull-left{
                    display: block;
                    float: none!important
                }
                .menu{
                    text-align: center;
                }
                .follow-us{
                    margin: 1.5em 0;
                    text-align: center;
                }
            }
    }



/**********************************************/
/******            TABLET SIZE           ******/
/**********************************************/
    @media (min-width: @tablet-size) {
        // Main navigation
            .header-v1{
                .navbar-collapse{
                    padding: 0;
                }
              .navbar-default{
                &.main-navigation{
                  min-height: 38px;
                  background-color: @green;
                  margin-bottom: 0;
                  border: none;
                  .drop-shadow(0, 1px, 2px, 0.5);

                  .navbar-nav{

                    width: 100%;

                    &>li{
                      padding: 0;
                      border-right:1px solid @darkgray;
                      border-left:1px solid @lightgreen;
                      position: relative;

                      &:first-child{
                          border-left: 1px solid @lightgreen;
                          &:before{
                            position: absolute;
                            left: 0;
                            top:0;
                            height: 100%;
                            border-left: 1px solid @darkgray;
                          }
                      }

                      &>a{
                        text-transform: uppercase;
                        color: @white;
                        font-size: 0.75em;
                        padding:0.76em 2.5em;
                        white-space: nowrap;

                        &:hover,
                        &:active,
                        &:focus{
                          color: @white;
                          background-color: @darkgreen!important;
                        
                        }
                      
                      }

                      &>.active{

                        color: @white;
                        background-color: @darkgreen!important;
                      
                      }

                      &.dropdown{

                        >.navbar-nav{
                          background-color: @green;
                          position: absolute;
                          top: 99%;
                          display: none;
                          z-index: 200;
                          border-top: 1px solid @darkgreen;
                          width: auto;

                          &:before{
                            position: absolute;
                            top:0;
                            left: 0;
                            width: 100%;
                            border-top: 1px solid @lightgreen;
                            content: " ";
                          }

                          >li{
                            display: block;
                            width: 100%;
                            border-top: 1px solid @lightgreen;
                            border-bottom: 1px solid @darkgreen;
                          }

                        }
                      }

                        &:hover{

                          &>.navbar-nav{
                            display:block;
                          }

                        }

                        &.megamenu{
                    
                          .megamenu-items{
                            position: absolute;
                            top: 38px;
                            left: 0;
                            padding: 14px;
                            .drop-shadow(0, 1px, 2px, 0.5);
                            display: none;
                          }

                          &:hover{
                            &>.megamenu-items{
                                display: block;
                            }
                            &>a{
                              &:after{
                                .rotation(45deg);
                                background-color: @white;
                                bottom: -5px;
                                content: " ";
                                height: 10px;
                                left: 50%;
                                margin-left: -5px;
                                position: absolute;
                                width: 10px;
                                z-index: 9999;
                              }
                            }
                          }
                        }
                      

                    }

                  }

                }

              }

            }
        // Homepage styles
          .front-page-highlights-title{
            margin-top: 15px;
            margin-left: -15px;
            margin-right: -15px;
          }
          .front-page-highlights{
            text-align: center;
            margin-bottom: 15px;
            .caption{
                padding: 1em;
            }
            img{
              width: 100%;
              max-width: 330px;
              height: auto;
              margin: auto;
              display: block;
              margin-top: 15px;
            }
          }
          .home-container{
            .search-form{
              .form-text,
              .form-select{
                border-right:1px solid #ccc;
              }
            }
          }
    }

/***********************************************/
/******            DESKTOP SIZE           ******/
/***********************************************/
    @media (min-width: @desktop-size) {

        // Homepage styles
          .front-page-highlights-title{
            margin-left: auto;
            margin-right: auto;
            min-height: 64px;
          }
          .front-page-highlights{
            text-align: left;
            padding: 15px;
            min-height: 236px;
            .caption{
              padding:0 0.5em;
            }
            img{
              max-width: 100%;
              margin-bottom: 11px;
              margin-top: 0;
            }
            p{
                margin: 0;
            }
          }
          .home-container{
            .search-form{
              .form-text,
              .form-select{
                border-right:none;
              }
            }
          }
    }



/*********************************************/
/******            LARGE SIZE           ******/
/*********************************************/
    @media (min-width: @large-size) {
        // Homepage styles
          .front-page-highlights-title{
            min-height: 48px;
          }
    }