/* Add here all your css styles (customizations) */


//Font sizes
@size1 : 1em;
@size2 : 2.25em;
@size3 : 1.75em;
@size4 : 1.25em;
@size5 : 1.15em;
@size6 : 1.05em;

//Color palette from RMRS style guide

//White colors
@fullwhite:#FFFFFF;
@white:#FCFCFC;

//Green colors
@lightgreen: rgb(51, 134, 79);
@green: #076727;
@darkgreen: #0E5725;

//Black colors
@black:#000000;

//Gray colors
@lightgray: #EEECE5;
@gray: #777777;
@darkgray: #333333;
@silver: #c7c7c7;

//Blue colors
@blue:#466385;
@darkblue: #23456b;

//Red colors
@red:#670F07;

//Brown colors
@lightbrown:#A28875;
@brown: #2E1E12;


// Responsive helpers
	// mobile-first strategy, no need for '@mobile-size' variable
	@small-size: 767px;
	@tablet-size: 768px;
	@desktop-size: 992px;
	@large-size: 1200px;
