/*
 * Template Name: Unify - Responsive Bootstrap Template
 * Description: Business, Corporate, Portfolio and Blog Theme.
 * Version: 1.4
 * Author: @htmlstream
 * Website: http://htmlstream.com
*/

/*Import Global Compulsory CSS Files*/
/*@import url(app.css);
@import url(plugins.css);*/

/*Import CSS Plugins*/
/*@import url(plugins/animate.css);
@import url(plugins/box-shadows.css);*/

html,body
{
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Boxed Layout
------------------------------------*/
.wrapper {
  background: #fff;
}

.boxed-layout {
  padding: 0;
  box-shadow: 0 0 5px #ccc;
  margin-left: auto !important;
  margin-right: auto !important;
  background: url(../img/patterns/15.png) repeat;
}

/*Parallax Backgrounds
------------------------------------*/
.parallax-bg {
	background: url(../img/blur/img1.jpg) 50% 0 repeat fixed;
}

/*Parallax Counter Block*/
.parallax-counter {
	padding: 60px 0;
	background: url(../img/bg/9.jpg) 50% 0 no-repeat fixed;
}

.parallax-counter h4 {
	color: #fff;
	font-size: 18px;
}

.parallax-counter .counters {
	color: #fff;
	padding: 20px 0;
	font-weight: 200;
	background: rgba(0,0,0,0.6);
}

/*Parallax Team*/
.parallax-team {
	background: url(../img/team/faces.jpg) 50% 0 repeat fixed;
}

.parallax-team,
.parallax-team .title-box-v2 {
	position: relative;
}

.parallax-team:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: " ";
	position: absolute;
	background: rgba(255,255,255,0.9);
}

/*Top Bar (login, search etc.)
------------------------------------*/
.topbar {
	z-index: 12;
	padding: 0;
	position: relative;
}

.topbar ul.loginbar {
	margin: 0;
}

.topbar ul.loginbar > li {
	display: inline;
	list-style: none;
	position: relative;
	padding-bottom: 15px;
}

.topbar ul.loginbar > li > a,
.topbar ul.loginbar > li > a:hover {
	color: #7c8082;
	font-size: 11px;
	text-transform: uppercase;
}

.topbar ul.loginbar li i.fa {
	color: #bbb;
}

.topbar ul.loginbar li.topbar-devider {
	top: -1px;
	padding: 0;
	font-size: 8px;
	position: relative;
	margin: 0 9px 0 5px;
	font-family: Tahoma;
	border-right: solid 1px #bbb;
}

/*Lenguages*/
.topbar ul.lenguages {
	top: 25px;
	left: -5px;
	display: none;
	padding: 4px 0;
	padding-left: 0;
	list-style: none;
	min-width: 100px;
	position: absolute;
	background: #f0f0f0;
}

.topbar li:hover ul.lenguages {
	display: block;
}

.topbar ul.lenguages:after {
	top: -4px;
	width: 0;
	height: 0;
	left: 8px;
	content: " ";
	display: block;
	position: absolute;
	border-bottom: 6px solid #f0f0f0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-right-style: inset; /*FF fixes*/
}

.topbar ul.lenguages li a {
	color: #555;
	display: block;
	font-size: 10px;
	padding: 2px 12px;
	margin-bottom: 1px;
	text-transform: uppercase;
}

.topbar ul.lenguages li.active a i {
	color: #999;
	float: right;
	margin-top: 2px;
}

.topbar ul.lenguages li a:hover,
.topbar ul.lenguages li.active a {
	background: #fafafa;
}

.topbar ul.lenguages li a:hover {
	text-decoration: none;
}

/*Top Bar v1 (login, search etc.)
------------------------------------*/
.topbar-v1 {
	background: #fdfdfd;
	border-bottom: solid 1px #f0f0f0;
}

/*Top Contacts*/
.topbar-v1 ul {
	margin: 0;
}

.topbar-v1 .top-v1-contacts li {
	color: #666;
	padding: 5px 0;
	font-size: 12px;
	margin-right: 15px;
	display: inline-block;
}

.topbar-v1 .top-v1-contacts i {
	color: #999;
	font-size: 13px;
	margin-right: 3px;
}

/*Top Data*/
.topbar-v1 .top-v1-data {
	text-align: right;
}

.topbar-v1 .top-v1-data li {
	padding: 5px 11px;
	display: inline-block;
	border-right: solid 1px #eee;
}

.topbar-v1 .top-v1-data li:first-child {
	border-left: solid 1px #eee;
}

.topbar-v1 .top-v1-data li a {
	font-size: 12px;
}

.topbar-v1 .top-v1-data li a:hover {
	text-decoration: none;
}

.topbar-v1 .top-v1-data li i {
	color: #777;
	font-size: 13px;
}

.topbar-v1 .top-v1-data li a:hover i {
	color: #72c02c;
}

/*Responsive Topbar v1*/
@media (max-width: 992px) {
	.topbar-v1 ul {
		text-align: center !important;
	}

	.topbar-v1 .top-v1-contacts {
		margin: 10px 0;
	}

	.topbar-v1 .top-v1-data li {
		top: 1px;
		padding: 6px 16px;
		margin-left: -5px;
		position: relative;
		border: solid 1px #eee;
	}
}

/*Header Default
------------------------------------*/
.header {
	z-index: 99;
	position: relative;
	border-bottom: solid 2px #eee;
}

.header .navbar {
	margin: 0;
	min-height: 60px;
}

.header .navbar-default {
	border: none;
	background: none;
}

.header .navbar-collapse {
	position: relative;
	/*max-height: inherit;*/
}

/*Brand*/
.header .navbar-brand {
	z-index: 1;
	top: -10px;
	position: relative;
	padding: 0 10px 10px;
}

@media (max-width: 992px) {
	.header .navbar-brand {
		top: 0;
		height: 40px;
	}
}

/*Navbar*/
@media (min-width: 992px) {
	.header .navbar-nav {
		float: right;
	}
}

.header .navbar-default .navbar-nav > li > a {
	color: #687074;
	font-size: 15px;
	font-weight:400;
	text-transform: uppercase;
}

.header .navbar-default .navbar-nav > .active > a {
	color: #72c02c;
}

/*Dropdown*/
.header .navbar-right .dropdown-menu {
	right: inherit;
}

/*Navbar Toggle*/
.navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: #72c02c;
	padding: 6px 10px 2px;
}

.navbar-default .navbar-toggle {
	border-color: #5fb611;
}

.navbar-default .navbar-toggle:hover {
	background: #5fb611;
}

.navbar-default .navbar-toggle .fa {
	color: #fff;
	font-size: 19px;
}

/*Responsive Navbar*/
@media (max-width: 767px) {
	.header .navbar-default .navbar-nav > li > a {
		font-size: 14px;
		padding: 9px 10px;
	}

	.header .navbar-default .navbar-nav > li a {
		/*margin-bottom: 1px;*/
		border-bottom: solid 1px #eee;
	}

	.header .navbar-default .navbar-nav > li > a:focus {
		background: none;
	}

	.header .navbar-default .navbar-nav > li > a:hover {
		color: #72c02c;
	}

	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		color: #fff;
		background: #72c02c;
		/*border-bottom: solid 2px #72c02c;*/
	}

	.header .dropdown-submenu li a {
		font-size: 12px;
	}
}

@media (min-width: 767px) {
	/*Navbar Collapse*/
	.header .navbar-collapse {
		padding: 0;
	}

	/*Navbar*/
	.header .navbar-nav {
		top: 2px;
		position: relative;
	}

	.header .navbar-default .navbar-nav > li > a {
		padding: 9px 20px;
	}

	.header .navbar-default .navbar-nav > li > a,
	.header .navbar-default .navbar-nav > li > a:focus {
		border-bottom: solid 2px transparent;
	}

	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > .active > a {
		border-bottom: solid 2px #72c02c;
	}

	.header .navbar-default .navbar-nav > li > a,
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > li > a:focus,
	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		background: none;
	}


	.header .navbar-default .navbar-nav > .open > a,
	.header .navbar-default .navbar-nav > .open > a:hover,
	.header .navbar-default .navbar-nav > .open > a:focus {
		color: #687074;
	}

	/*Dropdown Menu*/
	.header .dropdown-menu {
		padding: 0;
		border: none;
		min-width: 200px;
		border-radius: 0;
		z-index: 9999 !important;
		margin-top: -2px !important;
		border-top: solid 2px #72c02c;
		border-bottom: solid 2px #687074;
	}

	.header .dropdown-menu li a {
		color: #687074;
		font-size: 13px;
		font-weight: 400;
		padding: 6px 15px;
		border-bottom: solid 1px #eee;
	}

	.header .dropdown-menu .active > a,
	.header .dropdown-menu li > a:hover {
		color: #fff;
		filter: none !important;
		background: #687074 !important;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}

	.header .dropdown-menu li > a:focus {
		background: none;
		filter: none !important;
	}

	.header .navbar-nav > li.dropdown:hover > .dropdown-menu {
		display: block;
	}
}

/*Search Box*/
.header .navbar .nav > li > .search {
	color: #aaa;
	cursor: pointer;
	min-width: 35px;
	font-size: 15px;
	text-align: center;
	background: #f7f7f7;
	padding: 11px 0 12px;
	display: inline-block;
	border-bottom: solid 2px #aaa;
}

.header .navbar .nav > li > .search:hover {
	color: #72c02c;
	background: #f7f7f7;
	border-bottom-color: #72c02c;
}

.header .navbar .search-open {
	right: 0;
	top: 38px;
	display: none;
	padding: 14px;
	position: absolute;
	background: #fcfcfc;
	border-top: solid 2px #eee;
	box-shadow: 0 1px 3px #ddd;
}

.header .navbar .search-open form {
	margin: 0;
}

@media (min-width: 767px) {
	.header .navbar .search-open {
		width: 330px;
	}

	.header .open > .dropdown-menu,
	.header-v1 .open > .dropdown-menu {
		display: none;
	}
}

@media (max-width: 767px) {
	.header .navbar .nav > li > .search {
		color: #999;
		width: 35px;
		height: 34px;
		line-height: 12px;
		text-align: left;
		text-align: center;
		margin: 5px 10px 0;
		background: #eee;
		border-bottom: none;
	}

	.header .navbar .nav > li > .search:hover {
		background: #5fb611;
		color: #fff !important;
	}

	.header .navbar .search-open {
		top: 5px;
		padding: 0;
		left: 48px;
		border-top: none;
		box-shadow: none;
		background: none;
		margin-right: 10px;
	}
}

/*Header v1
------------------------------------*/
.header-v1 {
	border-bottom: none;
}

/*Brand*/
.header-v1 .navbar-brand {
	top: 2px;
	padding: 0 10px 10px;
}

/*Search Box*/
.header-v1 .navbar .search-open {
	background: #f8f8f8;
}

@media (max-width: 767px) {
	.header-v1 .navbar .search-open {
		bottom: -6px;
	}
}

.header-v1 .navbar .nav > li > .search {
	padding: 11px;
	border: none;
	min-width: 37px;
}

.header-v1 .navbar .nav > li > .search:hover {
	background: #72c02c;
	color: #fff !important;
}

/*Toggle*/
.header-v1 .navbar-toggle {
	margin-top: 3px;
}

/*Responsive Header v1*/
@media (min-width: 767px) and (max-width: 992px) {
	/*Brand*/
	.header-v1 .navbar-brand {
		margin-bottom: 15px;
	}
}

@media (min-width: 767px) {
	/*Navbar*/
	.header-v1 .navbar-default .navbar-nav > li {
		margin-left: 1px;
	}

	.header-v1 .navbar-default .navbar-nav > li > a {
		padding: 9px 20px 6px 20px;
	}

	.header-v1 .navbar-default .navbar-nav > .active > a,
	.header-v1 .navbar-default .navbar-nav > li > a:hover,
	.header-v1 .navbar-default .navbar-nav > li > a:focus {
		color: #fff !important;
		background: #72c02c !important;
	}

	.header-v1 .navbar-default .navbar-nav > .open > a,
	.header-v1 .navbar-default .navbar-nav > .open > a:hover,
	.header-v1 .navbar-default .navbar-nav > .open > a:focus {
		color: #fff;
		background: #72c02c;
	}

	/*Dropdown Menu*/
	.header-v1 .dropdown-menu {
		background: #fafafa;
	}
}

/*Header Fixed
------------------------------------*/
/*Header*/
.header-fixed .header {
	height: 78px;
}

.header-fixed .header.header-fixed-shrink {
	top: 0;
	left: 0;
	width: 100%;
	height: 95px;
	z-index: 9999;
	position: fixed;
	margin-top: -35px;
	background: rgba(255,255,255, 0.9);
	border-bottom-color: #f5f5f5;
	-webkit-transition: height 0.6s;
	-moz-transition: height 0.6s;
	transition: height 0.6s;
}

/*Brand*/
.header-fixed .header.header-fixed-shrink .navbar-brand {
	top: 10px;
	z-index: 1;
	position: relative;
	padding: 0 10px 10px;
}

.header-fixed .header.header-fixed-shrink .navbar-brand img {
	width: 90%;
}

.header-fixed .header.header-fixed-shrink .search,
.header-fixed .header.header-fixed-shrink .active a {
	border-bottom: none !important;
}

.header-fixed .header.header-fixed-shrink .dropdown > a:after {
	top: 19px;
}

/*Toggle*/
.header-fixed .navbar-toggle {
	margin-top: 5px;
}

/*Search Bar*/
.header-fixed .header.header-fixed-shrink .search {
	margin-top: 12px;
	padding: 8px !important;
	color: #585f69 !important;
	background: none !important;
}

.header-fixed .header.header-fixed-shrink .search-open {
	border-top: none;
	background: rgba(255,255,255, 0.9);
}

/*Responsive Fixed Header*/
@media (max-width: 992px) {
	/*Header*/
	.header-fixed .header {
		height: 118px;
	}

	.header-fixed .header.header-fixed-shrink {
		height: 135px;
	}
}

@media (max-width: 767px) {
	/*Header*/
	.header-fixed .header,
	.header-fixed .header.header-fixed-shrink {
		height: 88px;
	}

	/*Navbar*/
	.header-fixed .header .navbar-nav {
		background: #fff;
		padding: 6px 0;
		margin-top: 0px;
		border: solid 1px #eee;
	}

	.header-fixed .header .navbar-default .navbar-collapse,
	.header-fixed .header .navbar-default .navbar-form {
		border: none;
	}

	/*Toggle*/
	.header-fixed .navbar-toggle {
		margin-top: 9px;
	}

	/*Search*/
	.header-fixed .header.header-fixed-shrink .navbar .nav > li > .search {
		top: 5px;
		position: relative;
	}
}

@media (min-width: 767px) {
	/*Navbar*/
	.header-fixed .header.header-fixed-shrink .navbar-nav > li > a {
		padding: 19px 30px 18px 20px;
		border-bottom: solid 1px transparent !important;
	}

	/*Search Bar*/
	.header-fixed .header.header-fixed-shrink .search-open {
		top: 56px;
	}
}

/*Dropdown Submenu for BS3
------------------------------------*/
.dropdown-submenu {
   position: relative;
}

.dropdown > a:after,
.dropdown-submenu > a:after {
    top: 8px;
    right: 9px;
    font-size: 11px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}

@media (max-width: 767px) {
  .dropdown-submenu > a:after {
      content: " ";
  }
}

.dropdown > a:after {
    top: 9px;
    right: 15px;
    content: "\f107";
}

.dropdown-submenu > .dropdown-menu {
   top: 0;
   left: 100%;
   margin-top: -5px;
   margin-left: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
   display: block;
}

@media (max-width: 767px) {
  .dropdown-submenu > .dropdown-menu {
     display: block;
     margin-left: 15px;
  }
}

.dropdown-submenu.pull-left {
   float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
   left: -100%;
   margin-left: 10px;
}

.dropdown-menu li [class^="fa-"],
.dropdown-menu li [class*=" fa-"] {
  left: -3px;
  width: 1.25em;
  margin-right: 1px;
  position: relative;
  text-align: center;
  display: inline-block;
}
.dropdown-menu li [class^="fa-"].fa-lg,
.dropdown-menu li [class*=" fa-"].fa-lg {
  /* increased font size for fa-lg */
  width: 1.5625em;
}

/*Menu Icons*/
.menu-icon {
   margin-right: 10px;
   font-weight: 200;
}

/*Dropdown Show*/
.dropdown-show {
  position: relative;
  display: inline-block;
  box-shadow: 0 0 4px #eee;
}

/*Main Styles
------------------------------------*/
/*Purchase Block*/
.purchase {
	padding: 25px 0 30px;
	border-bottom: solid 1px #eee;
	background: url(../img/breadcrumbs.png) repeat;
}
.purchase p {
	margin-bottom: 0;
}
.purchase span {
	color: #666;
	display: block;
	font-size: 24px;
	line-height: 35px;
	font-weight: normal;
	margin-bottom: 12px;
	font-family: 'Open Sans', sans-serif;
}

.purchase .btn-buy {
	text-align: center;
}

.purchase .btn-buy a {
	margin-top: 27px;
}

.purchase .btn-buy a i {
	margin-right: 5px;
}

@media (max-width: 992px) {
	.purchase {
		text-align: center;
	}

	.purchase span {
		font-size: 22px;
		line-height: 29px;
	}

	.purchase .btn-buy a {
		margin-top: 25px;
		font-size: 16px;
	}
}

/*Service*/
.service {
	overflow: hidden;
	margin-bottom: 10px;
	padding: 15px 15px 10px;
}
.service:hover {
	background: #fcfcfc;
	box-shadow: 0 0 5px #ddd;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}
.service:hover i {
	color: #656565;
}

.service .desc {
	padding: 0 15px;
	overflow: hidden;
}
.service .desc h4 {
	font-size: 22px;
	line-height: 25px;
}

.service .service-icon {
	float: left;
	padding: 10px;
	color: #72c02c;
	font-size: 35px;
	text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.service .service-icon.icon-cogs {
	font-size: 37px;
}
.service .service-icon.icon-plane {
	font-size: 43px;
}

/* Recent Work  */
.recent-work a {
	text-align: center;
	background: #fcfcfc;
	display: inline-block;
}

.recent-work a:hover {
	text-decoration: none;
}

.recent-work a:hover strong {
	color: #555;
}

.recent-work em.overflow-hidden {
	display: block;
}

.recent-work a span {
	display: block;
	padding: 10px;
	border-bottom: solid 2px #eee;
}

.recent-work a strong {
	color: #555;
	display: block;
}

.recent-work a i {
	color: #777;
}

.recent-work a img {
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}

.recent-work a:hover img {
	opacity: 0.8;
   -webkit-transform: scale(1.2) rotate(3deg);
   -moz-transform: scale(1.2) rotate(3deg);
   -o-transform: scale(1.0) rotate(3deg);
   -ms-transform: scale(1.2) rotate(3deg);
   transform: scale(1.2) rotate(3deg);
}

.recent-work a:hover span {
	border-bottom: solid 2px #72c02c;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Work */
.work {
	margin-top: 6px;
}
.work .details {
	padding: 10px;
}
.work .caption {
	display: block;
	padding-top: 5px;
	color: #585f69 !important;
	font-size: 18px !important;
}
.work .caption:hover {
	cursor: pointer;
	color: #444 !important;
	text-decoration: underline;
}

/*Footer*/
.footer {
	color: #dadada;
	background: #142c4f;
	padding: 20px 0 30px;
}

.footer.margin-top-0 {
	margin-top: 0;
}

.footer p,
.footer a {
	font-size: 14px;
}
.footer p {
	color: #dadada;
}

.footer a {
	color: #72c02c;
}
.footer a:hover {
	color: #a8f85f;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.footer h2,
.footer h3,
.footer h4 {
	color: #e4e4e4;
	background: none;
	text-shadow: none;
}

/*Footer Subsribe*/
.footer .footer-subsribe {
	width: 85%;
}

/*Footer Blog Posts*/
.footer .blog-list {
	margin: 0;
	padding: 0;
	color: #dadada;
	list-style: none;
}

.footer .blog-list li {
	padding: 0 0;
	margin-bottom: 7px;
}
.footer .blog-list li span {
	color: #818488;
}

.footer .dl-horizontal,
.footer .dl-horizontal:hover {
	border: none !important;
	background: none !important;
}
.footer .posts .dl-horizontal a {
	color: #dadada;
}
.footer .dl-horizontal a:hover {
	color: #a8f85f !important;
}
.footer .dl-horizontal img {
	border-color: #888 !important;
}

/*Copyright*/
.copyright {
	font-size: 12px;
	padding: 11px 0 7px;
	background: #1a3b6a;
	border-top: solid 1px #142c4f;
}

.copyright p {
	color: #dadada;
	margin-top: 12px;
}

.copyright a {
	margin: 0 5px;
	color: #fff;
}
.copyright a:hover {
	color: #fff;
	text-decoration: underline;
}

.copyright a img {
	margin-top: 5px;
}

/*Breadcrumbs
------------------------------------*/
/*Default Breadcrumbs*/
.breadcrumbs {
	overflow: hidden;
	padding: 10px 0 6px;
	border-bottom: solid 1px #eee;
	background: url(../img/breadcrumbs.png) repeat;
}
.breadcrumbs h1 {
	color: #90311e;
	font-size: 22px;
	margin-top: 8px;
}

.breadcrumb {
	top: 10px;
	padding-right: 0;
	background: none;
	position: relative;
}
.breadcrumb a {
	color: #777;
}
.breadcrumb li.active,
.breadcrumb li a:hover {
	color: #72c02c;
	text-decoration: none;
}

@media (max-width: 550px) {
	.breadcrumbs h1.pull-left,
	.breadcrumbs ul.pull-right {
		width: 100%;
		text-align: center;
	}

	.breadcrumbs h1.pull-left {
		margin-bottom: 0;
	}

	.breadcrumbs .breadcrumb {
		top: 0;
		margin-bottom: 10px;
	}
}

/*Thumbnails
------------------------------------*/
a.thumbnail {
	padding: 0;
	border: none;
	margin-bottom: 15px;
}

.thumbnail-style {
	padding: 7px;
	margin-bottom: 20px;
}
.thumbnail-style:hover {
	box-shadow: 0 0 8px #ddd;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.thumbnail h3,
.thumbnail-style h3 {
	margin: 6px 0 8px 0;
}

.thumbnail h3 a,
.thumbnail-style h3 a {
	color: #585f69;
	font-size: 20px;
}

.thumbnail h3 a:hover,
.thumbnail-style h3 a:hover {
	color: #72c02c;
	text-decoration: none;
}

.thumbnail-style .thumbnail-img {
	position: relative;
	margin-bottom: 11px;
}

.thumbnail-style a.btn-more {
	right: -10px;
	bottom: 10px;
	color: #fff;
	padding: 1px 6px;
	position: absolute;
	background: #72c02c;
	display: inline-block;
}
.thumbnail-style a.btn-more:hover {
	text-decoration: none;
	box-shadow: 0 0 0 2px #377500;
}
.thumbnail-style:hover a.btn-more {
	right: 10px;
}

.thumbnail-kenburn img {
	left: 10px;
	margin-left: -10px;
	position: relative;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}
.thumbnail-kenburn:hover img {
   -webkit-transform: scale(1.2) rotate(2deg);
   -moz-transform: scale(1.2) rotate(2deg);
   -o-transform: scale(1.2) rotate(2deg);
   -ms-transform: scale(1.2) rotate(2deg);
   transform: scale(1.2) rotate(2deg);
}

/*Servive Blocks
------------------------------------*/
/*Service Alternative Block*/
.service-alternative .service:hover {
	background: #76ca2c;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.service-alternative .service:hover i,
.service-alternative .service:hover p,
.service-alternative .service:hover h4 {
	color: #fff;
}

/*Servive Block Versions*/
.service-v1 h2 {
	margin: 15px 0 10px;
	font-size: 20px;
	line-height: 28px;
}

.service-v1 p {
	text-align: justify;
}

/*Blog Posts
------------------------------------*/
.posts .dl-horizontal a {
	color: #555;
}

.posts .dl-horizontal {
	margin-bottom: 15px;
	overflow: hidden;
}

.posts .dl-horizontal dt {
	width: 60px;
	float: left;
}

.posts .dl-horizontal dt img {
	width: 60px;
	height: 60px;
	padding: 2px;
	margin-top: 2px;
	border: solid 1px #ddd;
}

.posts .dl-horizontal dd {
	margin-left: 70px;
}

.posts .dl-horizontal dd p {
	margin: 0;
}

.posts .dl-horizontal dd a {
	font-size: 14px;
	line-height: 16px !important;
}

.posts .dl-horizontal dd a:hover {
	color: #72c02c;
	text-decoration: none;
}

.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a {
	color: #72c02c;
	border-color: #72c02c !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

/*About Page
------------------------------------*/
.team ul.team-socail {
	text-align: right;
}

.team ul.team-socail li {
	padding: 0 !important;
	margin: 0 !important;
}

.team ul.team-socail li a,
.team ul.team-socail li a:hover {
	text-decoration: none;
}

.team ul.team-socail li i {
	color: #aaa;
	padding: 3px;
	min-width: 30px;
	font-size: 20px;
	text-align: center;
	background: #f7f7f7;
	display: inline-block;
}

.team ul.team-socail li i:hover {
	color: #fff;
	background: #72c02c;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.team .thumbnail-style {
	padding: 12px;
}

.team .thumbnail-style img {
	margin-bottom: 7px;
}

.team .thumbnail-style h3 {
	/*margin-bottom: 5px;*/
}

.team .thumbnail-style:hover h3 a {
	color: #72c02c !important;
}

.team .thumbnail-style small {
	display: block;
	margin-top: 5px;
	font-size: 12px;
}

/*About Me Page
------------------------------------*/
.about-me {
	overflow: hidden;
}

.about-me h2 {
	margin: 0;
	font-size: 20px;
	text-transform: uppercase;
}

.about-me span {
	color: #999;
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}

.about-me .social-icons {
	margin-top: 7px;
}

/*About My Goals*/
.about-my-goals h2 {
	text-transform: uppercase;
}

/*About Skills*/
.about-skills {
	padding: 40px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background: url(../img/breadcrumbs.png) repeat;
}

/*Gallery Page
------------------------------------*/
.gallery-page .thumbnail,
.gallery-page .thumbnail:hover {
	padding: 0;
	border: none;
	box-shadow: none;
}
.gallery-page .thumbnails {
	margin-bottom:6px;
}

/*Privacy Page
------------------------------------*/
.privacy a {
	text-decoration: underline;
}
.privacy a:hover {
	color: #72c02c;
	text-decoration: none;
}

/*Portfolio Item Page v1
------------------------------------*/
.portfolio-item h2 {
	color: #555;
	font-size: 24px;
	margin: 0 0 15px;
}
.portfolio-item li {
	padding: 3px 0;
}
.portfolio-item p a {
	text-decoration: underline;
}
.portfolio-item p a:hover {
	text-decoration: none;
}

/*Portfolio Item v1*/
.portfolio-item1 ul {
	margin: 10px 0 20px;
}

.portfolio-item1 li {
	font-size: 16px;
	margin-bottom: 3px;
}

.portfolio-item1 li i {
	font-size: 18px;
	margin-right: 4px;
}

/*Sidebar Features
------------------------------------*/
/*Blog Tags*/
ul.blog-tags li {
	display: inline-block;
}

ul.blog-tags a {
	font-size :13px;
	padding: 2px 7px;
	background: #f7f7f7;
	margin: 0 3px 6px 0;
	display: inline-block;
}

ul.blog-tags a i {
	color: #666;
}

ul.blog-tags a:hover {
	background: #72c02c;
}

ul.blog-tags a:hover,
ul.blog-tags a:hover i {
	color: #fff !important;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/*Blog Photo Stream*/
.blog-photos li {
	display: inline;
}
.blog-photos li img {
	opacity: 0.6;
	width: 58px;
	height: 58px;
	margin: 0 2px 8px;
}
.blog-photos li img:hover {
	opacity: 1;
	box-shadow: 0 0 0 2px #72c02c;
}

/*Blog Latest Tweets*/
.blog-twitter .blog-twitter-inner {
	padding: 10px;
	background: #f7f7f7;
	position: relative;
	margin-bottom: 10px;
	/*border-top: solid 2px #eee;*/
}

.blog-twitter .blog-twitter-inner,
.blog-twitter .blog-twitter-inner:after,
.blog-twitter .blog-twitter-inner:before {
	transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.blog-twitter .blog-twitter-inner:after,
.blog-twitter .blog-twitter-inner:before {
	width: 0;
	height: 0;
	right: 0px;
	bottom: 0px;
	content: " ";
	display: block;
	position: absolute;
}

.blog-twitter .blog-twitter-inner:after {
	border-top: 15px solid #eee;
	border-right: 15px solid transparent;
	border-left: 0px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-right-style: inset; /*FF fixes*/
}
.blog-twitter .blog-twitter-inner:before {
	border-bottom: 15px solid #fff;
	border-right: 0 solid transparent;
	border-left: 15px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-bottom-style: inset; /*FF fixes*/
}

.blog-twitter .blog-twitter-inner:hover {
	border-color: #72c02c;
	border-top-color: #72c02c;
}
.blog-twitter .blog-twitter-inner:hover:after {
	border-top-color: #72c02c;
}

.blog-twitter .blog-twitter-inner span.twitter-time {
	color: #777;
	display: block;
	font-size: 11px;
}

.blog-twitter .blog-twitter-inner a {
	color: #72c02c;
	text-decoration: none;
}
.blog-twitter .blog-twitter-inner a:hover {
	text-decoration: underline;
}

.blog-twitter .blog-twitter-inner i.fa {
	top: 2px;
	color: #bbb;
	font-size: 18px;
	position: relative;
}

/*Choose Block*/
.who li {
	margin-bottom: 6px;
}
.who li i {
	color: #72c02c;
	font-size: 13px;
	margin-right: 8px;
	position: relative;
}
.who li:hover i,
.who li:hover a {
	color: #777;
}
.who li:hover a:hover {
	text-decoration: none;
}

/*Promo Page
------------------------------------*/
/*Slider Part*/
.fullwidthbanner-container.slider-promo {
	max-height: 460px !important;
}

.slider-promo-info-bg {
	padding: 25px 20px 20px;
	background: url(../img/bg-black.png) repeat;
}

.slider-promo-info span.big-size {
	color: #fff;
	display: block;
	font-size: 30px;
	margin-bottom: 25px;
	text-shadow: 0 !important;
}

.slider-promo-info p {
	color: #fff;
	font-size: 16px;
	margin-bottom: 0;
}

/*Promo Box*/
.promo-box {
	padding: 20px;
	margin: 25px 0 20px;
	text-align: center;
}

.promo-box i {
	display: block;
	font-size: 50px;
}

.promo-box p {
	font-size: 14px;
	margin-bottom: 0;
}

.promo-box strong,
.promo-box strong a {
	color: #555;
	display: block;
	font-size: 20px;
	font-weight: 200;
	margin: 20px 0 15px;
}

.promo-box:hover strong,
.promo-box:hover strong a {
	color: #72c02c;
}

/*Promo Service*/
.promo-service {
	margin-bottom: 20px;
}

.promo-service li {
	margin-bottom: 5px;
}

.promo-service a.btn-u {
	margin: 0 20px 10px 0;
}

/*Promo Elements*/
.title-box {
	font-size: 16px;
	text-align: center;
	padding: 10px 0 30px;
	border-bottom: solid 1px #eee;
}

.title-box .title-box-text {
	color: #555;
	display: block;
	font-size: 35px;
	font-weight: 200;
}

@media (max-width: 768px) {
	.title-box .title-box-text {
		font-size: 26px;
		line-height: 34px;
		margin-bottom: 10px;
	}
	.title-box p {
		font-size: 15px;
	}
}

.block-blockquote {
	margin: 20px 0;
	text-align: center;
	border: dashed 1px #ccc;
}

.block-blockquote-inner {
	padding: 15px;
}

.block-blockquote p {
	font-size: 26px;
	margin-bottom: 0;
}

/*Info Blocks*/
.info-blocks {
	margin-bottom: 15px;
}

.info-blocks:hover i.icon-info-blocks {
	color: #72c02c;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}

.info-blocks i.icon-info-blocks {
	float: left;
	color: #777;
	font-size: 30px;
	min-width: 50px;
	margin-top: 10px;
	text-align: center;
}

.info-blocks .info-blocks-in {
	padding: 0 10px;
	overflow: hidden;
}

.info-blocks .info-blocks-in h3 {
	color: #555;
	font-size: 20px;
	line-height: 28px;
}

.info-blocks .info-blocks-in p {
	font-size: 12px;
}

/*Brand Page
------------------------------------*/
.brand-page .btn {
	margin-bottom: 10px;
}

/*Form Pages
------------------------------------*/
.form-page input,
.form-page select {
	margin-bottom: 10px;
}

/*Labels and Badges Page
------------------------------------*/
ul.labels-demo {
  margin: 5px 0;
}

ul.labels-demo li {
  list-style: none;
  display: inline-block;
  margin: 0 5px 2px 0;
}

.badge-sidebar {
	border-left: solid 1px #eee;
}

@media (max-width: 991px) {
	.badge-sidebar {
		border-left: none;
	}
}

/*Line Icon Page
------------------------------------*/
.line-icon-page .item-box {
	width: 25%;
	float: left;
	height: 90px;
	text-align: center;
	padding: 20px 10px;
	margin: 0 -1px -1px 0;
	border: 1px solid #ddd;
	word-wrap: break-word;
}

@media (max-width: 768px) {
	.line-icon-page .item-box {
		height: 115px;
  }
}

@media (max-width: 450px) {
	.line-icon-page .item-box {
		height: 130px;
  }
}

.line-icon-page .item-box:hover {
	background: #fafafa;
}

.line-icon-page .item span {
	display: block;
	font-size: 28px;
	margin-bottom: 10px;
}

.line-icon-page .item:hover {
	color: #72c02c;
}

/*GLYPHICONS Icons Page
------------------------------------*/
/*Special styles for displaying the icons and their classes*/
.bs-glyphicons {
	padding-left: 0;
	list-style: none;
	overflow: hidden;
	padding-bottom: 1px;
	margin-bottom: 20px;
}

.bs-glyphicons li {
	width: 25%;
	float: left;
	height: 115px;
	padding: 10px;
	font-size: 12px;
	line-height: 1.4;
	text-align: center;
	margin: 0 -1px -1px 0;
	border: 1px solid #ddd;
}

.bs-glyphicons .glyphicon {
	display: block;
	font-size: 24px;
	margin: 5px auto 10px;
}

.bs-glyphicons li:hover {
	color: #72c02c;
	background-color: #fafafa;
}

@media (min-width: 768px) {
	.bs-glyphicons li {
	  width: 12.5%;
	}
}

/*Contact Pages
------------------------------------*/
.map {
	width: 100%;
	height: 350px;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.gm-style-iw {
	/*overflow: inherit !important;*/
}

.map-box {
	height: 250px;
}

.map-box-space {
	margin-top: 15px;
}

.map-box-space1 {
	margin-top: 7px;
}

/*Background Opacity
------------------------------------*/
.service-or {
	overflow: hidden;
	position: relative;
}

.service-bg {
    background-color: rgba(255,255,255,0.1);
    width: 250px;
    padding: 60px;
    position: absolute;
    top: -10px;
    right: -100px;
    transform: rotate(55deg);
    -o-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
}

/*Service Block v2
------------------------------------*/
.servive-block-v2 .servive-block-in {
	padding: 20px 30px;
	text-align: center;
	margin-bottom: 15px;
	background: rgba(255,255,255,0.2);
}

.servive-block-v2 .servive-block-in img {
	width: 100%;
	margin-bottom: 15px;
}

.servive-block-v2 .servive-block-in i {
	font-size: 40px;
}

.servive-block-v2 .servive-block-in h4 {
	line-height: 25px;
}

.servive-block-v2 .servive-block-in p {
	margin-bottom: 20px;
}

.servive-block-v2 .servive-block-in i,
.servive-block-v2 .servive-block-in h4,
.servive-block-v2 .servive-block-in p {
	color: #fff;
}

/*Easy Block
------------------------------------*/
.easy-block-v1 {
	position: relative;
}

.easy-block-v1 img {
	width: 100%;
}

.easy-block-v1 .overflow-h h3 {
	width: 60%;
	float: left;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 5px;
}

.easy-block-v1 .easy-block-v1-badge {
	left: 0px;
	top: 10px;
	z-index: 1;
	color: #fff;
	padding: 4px 10px;
	position: absolute;
}

/*Easy Block v2
------------------------------------*/
.easy-block-v2 {
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.easy-block-v2 img {
	width: 100%;
}

.easy-bg-v2 {
	top: 5px;
	color: #fff;
	width: 100px;
	padding: 5px;
	right: -32px;
	font-size: 13px;
	position: absolute;
	text-align: center;
	letter-spacing: 2px;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.rgba-red { background-color: rgba(231,76,60,0.8);}
.rgba-blue{ background-color: rgba(52,152,219,0.8);}
.rgba-default { background-color: rgba(114,192,44,0.8);}
.rgba-purple { background-color: rgba(155,107,204,0.8);}

/*Easy Block v3
------------------------------------*/
.easy-block-v3 {
	text-align: left;
	background: #585f69;
	margin-bottom: 10px;
	padding: 30px 20px 20px;
}

.easy-block-v3.first {
	background: #696f77;
}
.easy-block-v3.second {
	background: #707780;
}
.easy-block-v3.third {
	background: #787f88;
}

.easy-block-v3 i {
	color: #fff;
	float: left;
	font-size: 30px;
	min-width: 45px;
	padding-top: 10px;
}

.easy-block-v3 .inner-faq-b {
	overflow: hidden;
}

.easy-block-v3 .inner-faq-b h2,
.easy-block-v3 .inner-faq-b h3 {
	font-size: 21px;
	margin-bottom: 8px;
}

.easy-block-v3 .inner-faq-b h4 {
	color: #fff;
	font-size: 17px;
	margin-bottom: 2px;
}

.easy-block-v3 .inner-faq-b h2,
.easy-block-v3 .inner-faq-b h3,
.easy-block-v3 .inner-faq-b p {
	color: #fff;
}

/*Full Width Block
------------------------------------*/
.full-w-block {
	padding: 30px 0;
	background: #282828;
}

.full-w-block .info-blocks i,
.full-w-block .info-blocks-in h3 {
	color: #fff;
}

.full-w-block .info-blocks-in p {
	color: #ccc;
}

.full-w-block .info-blocks:hover i.icon-info-blocks {
	color: #fff;
}

/*Team v2
------------------------------------*/
.team-v2 {
	position: relative;
	margin-bottom: 20px;
}

.team-v2 img {
	width: 100%;
}

.team-v2 .inner-team {
	padding: 20px;
	background: #fff;
	text-align: center;
}

.team-v2 .inner-team h3 {
	margin: 0;
}

.team-v2 .inner-team small {
	display: block;
	font-size: 12px;
	margin-bottom: 7px;
}

.team-v2 .inner-team p {
	font-size: 13px;
}

.team-v2 .inner-team hr {
	margin: 10px 0 15px;
}

/*Team-Social ---- Temporary*/
.team-social {
	margin-bottom: 0;
}

.team-social li {
	padding: 0 2px;
}

.team-social li a {
	font-size: 14px;
	padding: 6px 4px;
	border-radius: 50% !important;
}

.team-social li i {
	min-width: 20px;
}

.team-social li a.fb {
	color: #4862a3;
	border: 1px solid #4862a3;
}

.team-social li a.tw {
	color: #159ceb;
	border: 1px solid #159ceb;
}

.team-social li a.gp {
	color: #dc4a38;
	border: 1px solid #dc4a38;
}

.team-social li a:hover {
	text-decoration: none;
}

.team-social li a.fb:hover {
	color: #fff;
	background: #4862a3;
}

.team-social li a.tw:hover {
	color: #fff;
	background: #159ceb;
}

.team-social li a.gp:hover {
	color: #fff;
	background: #dc4a38;
}

/*Simple Block
------------------------------------*/
.simple-block {
	margin-bottom: 20px;
}

.simple-block img {
	width: 100%;
}

.simple-block p {
	text-align: center;
}

.simple-block .carousel-indicators {
	top: 10px;
	left: 65%;
	text-align: right;
}

.simple-block .carousel-indicators .active {
	background: #555;
}

.simple-block .carousel-indicators li {
	border-color: #555;
}

.simple-block .carousel-inner > .item {
	margin: 0;
}

.carousel.slide {
	height: 350px;
	overflow: hidden;
}

/*Two Blocks
------------------------------------*/
.two-blocks {
	text-align: center;
}

.two-blocks-in {
	margin-bottom: 30px;
}

.two-blocks-in i {
	color: #fff;
	padding: 11px;
	font-size: 30px;
	min-width: 50px;
	text-align: center;
	background: #585f69;
	margin-bottom: 10px;
	display: inline-block;
}

/*Three Blocks
------------------------------------*/
.three-blocks {
	text-align: center;
}

.three-blocks-in {
	margin-bottom: 30px;
}

.three-blocks-in i {
	color: #777;
	padding: 9px 6px;
	font-size: 20px;
	min-width: 40px;
	margin-bottom: 10px;
	border: 1px solid #777;
}

.three-blocks-in h3 {
	font-size: 20px;
	margin-bottom: 7px;
}

/*Temperory Classes
------------------------------------*/
/*Banner-info*/
.banner-info {
	margin-bottom: 10px;
}

.banner-info i {
	float: left;
	color: #fff;
	padding: 11px;
	/*min-width works with line-icon*/
	min-width: 40px;
	font-size: 22px;
	text-align: center;
	margin: 7px 20px 0 0;
}

/*min-width works with FontAwesome*/
.banner-info i.fa {
	min-width: 46px;
}

.banner-info.light i {
	border: 1px solid #fff;
}

.banner-info.dark i {
	background: #585f69;
}

.banner-info h3 {
	font-size: 21px;
	margin-bottom: 5px;
}

.banner-info.light h3 { color: #fff; }
.banner-info.light p { color: #eee; }

/*Breadcrumb-V2*/
.breadcrumbs-v2 {
	text-align: center;
	position: relative;
	background: url(../img/bg/11.jpg) no-repeat center;
}

.breadcrumbs-v2-in {
	padding: 60px 0;
	position: relative;
}

.breadcrumbs-v2 h1 {
	color: #fff;
	text-transform: uppercase;
}

.breadcrumb-v2 li a,
.breadcrumb-v2 li.active {
	color: #fff;
}

.breadcrumb-v2 li i {
	color: #fff;
	min-width: 19px;
	padding: 3px 7px;
	margin-right: 5px;
	text-align: center;
	border: 1px solid #fff;
}

/*Breadcrumbs-v3*/
.breadcrumbs-v3 {
	padding: 10px 0;
	background: #585f69;
	border-bottom: 1px solid #eee;
}

.breadcrumbs-v3 h1 {
	color: #fff;
	margin: 3px 0;
	font-size: 22px;
	font-weight: 200;
}

.breadcrumbs-v3 .breadcrumb {
	padding: 0;
	margin-top: 2px;
	margin-bottom: 0;
}

.breadcrumbs-v3 .breadcrumb li a {
	color: #fff;
}

/*Title-Box-V2*/
.title-box-v2 {
	text-align: center;
	margin-bottom: 40px;
}

.title-box-v2 h2 {
    font-size: 25px;
    text-transform: uppercase;
}

.title-box-v2 p {
	font-size: 13px;
}

/*remove padding from "Col-"*/
.no-space {
	padding: 0;
}

/*List Style v1*/
.list-style-v1 li {
	margin-bottom: 7px;
}

.list-style-v1 i {
	margin-right: 5px;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* inqbation's overrides */
hr{
	margin:10px 0;
}

li.expanded, li.collapsed, li.leaf {
	padding: 0;
}
ul li.leaf {
	list-style-type: none;
	list-style-image: none;
}

.servive-block {
	padding: 20px 20px;
	text-align: left;
	margin-bottom: 20px;
}

.block .content {
	padding-bottom: 0;
	padding-top: 0;
}

/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(/misc/throbber.gif);
  background-position: 100% 8px; /* LTR */
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 100% -12px; /* LTR */
}

.view-popular-blogs .views-row {
	margin-bottom: 10px;
}

.view-popular-blogs .views-row h5 {
	margin-top: 0;
}

.view-latest .views-row {
	margin-bottom: 20px;
	overflow: hidden;
}

.view-latest .views-row h3,
.view-latest .views-row p {
	margin: 0 0 5px 0;
}

#block-views-slider-news-block {
	margin-bottom: 30px;
}
.display-table{
    display: table;
    table-layout: fixed;
}

.display-table>div{
    display: table-cell;
}

/* content */
.content {
    padding-top: 10px;
}

/* tables */
tr.odd{
	background-color: #fff;
}

tr.even{
	background-color: #f5f5f5;
}

/* columns*/
.two-column ul {
	-webkit-column-count: 2;
	 -webkit-column-gap:20px;
	-moz-column-count:2;
	-moz-column-gap:20px;
	-o-column-count:2;
	-o-column-gap:20px;
	column-count:2;
	column-gap:20px;
}


[class*="col-"]:empty{
display: none;
}

/* Footer */

.footer {
	padding: 10px 0 0px;
}

/* Large Search */

.search-block {
	padding: 40px 0;
	margin-bottom: 0;
}

#edit-secondary > legend .fieldset-legend {
text-align: left;
}


#edit-secondary-wrapper > fieldset.collapsible .fieldset-legend {
	background: url(../img/menu-expanded.gif) 5px 65% no-repeat;
}

#edit-secondary-wrapper > fieldset.collapsed .fieldset-legend {
	background-image: url(../img/menu-collapsed.gif);
}

#edit-secondary > legend .fieldset-title {
color: #fff;
font-size: 14px;
}

label.large-search-main-label {
	color: #fff;
	font-size: 30px;
	font-weight: 200;
	text-align: center;
	margin-bottom: 10px;
	text-transform: uppercase;
	margin-top: 5px;
	text-shadow: none;
	font-family: 'Open Sans', sans-serif;
	line-height: 35px;
}

.large-search-input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	width: 100%;
}

.large-search-input-group input[type=text] {
	display: table-cell;
	float: left;
	width: 100%;
	margin-bottom: 0;
	box-shadow: none;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.large-search-input-group-btn{
	margin-top:10px;
}

/*
.views-exposed-widget.views-widget-filter-title,
.views-exposed-widget.views-widget-filter-uid {
	width: 80%;
}

.views-exposed-widget input[type=text] {
	width: 100%;
	height: 33px;
	line-height: 33px;
	font-size: 1.2em;
}

.views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 25px;
	height: 31px;
}
*/
/*Added event search class*/
.library-search, .events-search {
	background: url('../img/bg/background-library.jpg') 50% 0 repeat fixed;
}

.groups-search, .discussions-search, .members-search{
	background: url('../img/bg/background-groups.jpg') 50% 0 repeat fixed;
}


/* Buttons */
.btn-u.btn-brd {
	font-weight: normal!important;
}

.btn-u.btn-brd.btn-u-danger {
border-color: #be442c;
}

.btn-u-danger {
	background: #be442c;
}

/*.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active,
.open .dropdown-toggle.btn-u {
	background: #90311e;
}*/

.btn-danger {
	color: #fff;
	background-color: #be442c;
	border-color: #90311e;
}

.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger{
	color:#fff;
	background-color:#90311e;
	border-color:#ac2925;
}

.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger{
	background-image:none;
}

.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active{
	background-color:#d9534f;
	border-color:#d43f3a;
}
.btn-danger .badge{
	color:#d9534f;
	background-color:#fff;
}

.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success{
	color:#fff;
	background-color:#47a447;
	border-color:#398439;
}

.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

/* navbar */
.header-v1 .navbar-default .navbar-nav > li.active-trail > a, .header-v1 .navbar-default .navbar-nav > li > a.active{
	color:#fff;
	background-color:#1080ba;
}

.header .navbar-nav {
	top: 11px;
}

.header-v1 .navbar-default .navbar-nav > li > a {
	padding: 9px 6px 6px;
	font-size: 13px;
}

/* breadcrumbs*/
.breadcrumb{
	padding:0;
	font-size: 11px;
}

.breadcrumbs{
	padding:0px;
}

.breadcrumbs h1{
	font-size:26px;
}

.breadcrumb a {
	color: #4765a0;
}

.breadcrumb a:hover {
	text-decoration: underline;
}


/* Magazine template hacks*/
.magazine-page span.magazine-badge{
	left: 0;
	right: 0;
	bottom: 0;
	top:auto;
	font-size: 12px;
	text-align:center;
}

.magazine-posts-img{
	position:relative;
}

.magazine-page span.magazine-badge-red {
	background: #BC442B;
}

.magazine-page span.magazine-badge-transparent {
	background: rgba(0, 0, 0, 0.7);
}

/* Search box in main menu */

.search-open {
    z-index: 999;
}

.search-open .input-group {
    width: 100%;
}

.search-open .form-item {
    width: 85%;
    margin: 0;
    float: left;
}

.grid div.col-md-4:nth-of-type(3n+1) {
clear: both;
}

/* Tabs */
.tab-v2 .nav-tabs {
	border-bottom: 1px #ccc solid;
}


/* custom styles for edit buttons */
.tab-v3 {
	background-color: #333;
	border-color: #fff;
}

.tab-v3 .nav-tabs li.active a {
	background: #fff;
	padding: 7px 15px 9px;
	border: solid 1px #eee;
	border-top: solid 2px #1080ba;
	border-bottom: none !important;
	color:#000;
}

/*.tab-v3 .nav-tabs li a {
	padding: 9px 16px;
	background: none;
	border: none;
}*/

.tab-v3 .nav-tabs>li>a {
	padding: 9px 16px;
	border: none;
	background: none;
	color: #fff;
}

.tab-v3 .nav-tabs>li>a:hover {
	background: #e7e7e7;
	color:#000;
}

.tab-v3 .navbar-brand {
	padding: 6px 18px;
	font-size: 13px;
	line-height: auto;
	height: auto;
	font-style: italic;
	color:#ccc;
}

.tab-v3 .navbar-brand:hover {
	color: #fff;
	cursor: default;
}

ul.primary{
	margin:0;
}

.action-links{
	margin:20px 0 0 0;
}

.action-links li{
	background-color: #1080ba;
	border: 1px solid #1080ba;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
	list-style: none;
	display: inline-block;
}

.action-links li:hover{
	background-color: #1a3b6a;
}

.action-links a, .action-links a:hover, .action-links a:active{
	color: #fff;
	text-decoration: none;
}

/* carousel*/
.carousel-caption h3 a {
	color: #fff;
}

.carousel-caption h3 a:hover {
	color: #fff;
	text-decoration: underline;
}

/* profile */
.grid-user h2{
	border-bottom: 2px solid #1080ba;
	margin-top: 9px;
	margin-bottom: 15px;
	/*display: block;
	margin: 10px 0 25px 0;*/
	border-bottom: 1px dotted #e4e9f0;
	font-size: 21px;
}

/* Edit pages */
.filter-wrapper{
	background:#f0f0f0;
	border-bottom:#ddd 1px solid;
	padding:10px;
}

.form-item-field-feature-in-home-page-slide-und{
	margin:20px 0 !important;
}

.form-item .description{
	color: #3c763d;
	font-size: 1em;
	font-style: italic;
	background: #dff0d8;
	padding: 5px;
}


/* discussions */

.float-left {
	float: left;
	padding: 0;
	margin-right: 15px;
}

.question{
	background: #f0f0f0;
	padding:15px;
	position:relative;
	margin-bottom:20px;
	font-size: 1.4em;
}

.question .blurb{
	width: 0;
	height: 0;
	left:40px;
	bottom:-20px;
	border-style: solid;
	border-width: 20px 18px 0 0;
	border-color: #f0f0f0 transparent transparent transparent;
	position:absolute;
}

.answer{
	background: #f0f0f0;
	padding:16px;
	position:relative;
	margin:0px 0 20px 75px;
}

div.answer:first-of-type{
	background: #000;
}

.answer .blurb{
	width: 0;
	height: 0;
	left:-15px;
	top:20px;
	border-style: solid;
	border-width: 15px 0 0 15px;
	border-color: #f0f0f0 transparent transparent transparent;
	position:absolute;
}

.indented .answer{
	background:none;
	padding:10px 0 0 0;
	border-top:1px #ccc dotted;
}

.indented .answer .blurb{
	border-color: transparent transparent transparent transparent;
}


.discussion-comment .post-author{
	height:19px;
	vertical-align:middle;
}
.discussion-comment .post-author .list-inline{
	height:100%;
}
.discussion-comment .post-author ul li{
	vertical-align:middle;
}

.discussion-comment .post-author .comments-flag-buttons .btn-u{
	font-size:11px;
	line-height:1.2em;
}
.discussion-comment .item-list{
    top: 18px;
    left: 6px;
}

.indented{
	margin-left: 25px;
}

/* only for indented comments under discussions - this won't impact other indented comments in other content types*/
.indented.discussion-comment .user-picture img {
	visibility: hidden;
	width: 0;
}

.indented.discussion-comment {
	font-size: 11px;
}

/* hiding secondary buttons */
.page-blog .action-links { display: none }



/* Devs css */
/* General styles */
#content img{
	max-width:100%!important;
	height:auto!important;
}
.content-post .float-left{
    margin-right: 10px;
    overflow: hidden;
    float: left;
}
.content-post .float-left .field-name-field-image-news{
	padding-right:10px;
}
.form-submit{
	margin:20px 0;
}
#search-block-form .form-submit{
	margin:0;
}
.navbar-nav{
	float:none;
}
.member-profile-follow, .member-profile-message{
	display:inline-block;
	margin-top:5px;
}
.btn-xs{
	padding:1px 5px!important;
	font-size:12px!important;
}
.form-text{
	border:1px solid #ccc;
	line-height:22px;
	font-size:14px;
	padding:3px 1%;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
}

.group-list-imgs{
	position:relative;
	width: 190px;
	height: 95px;
	margin:auto;
	overflow:hidden;
}
.group-list-imgs img{
	height:100%;
	width:auto;
}
.group-list-description{
	width:190px;
	margin:auto;
	text-align:left;
}
#views-exposed-form-og-members-admin-default{
	margin:20px 0;
}
#views-exposed-form-og-members-admin-default .form-submit{
	margin-top:0;
}
#views-exposed-form-og-members-admin-default .views-exposed-widget{
	float:none;
	display:block;
}
/**************************************/
/*			SLIDER FIXES			  */
/**************************************/
#carousel-news{
	
}
.carousel-inner{
	height:100%;
}
.carousel-inner .item{
	height:338px; 
	background:black;
}
.carousel-inner .active{
	background:black;
}


/**************************************/
/*			SEARCH PAGE 			  */
/**************************************/
.page-search{
	
}
.page-search .search-results{
	padding:0;
}
.page-search .search-advanced{
	height:auto!important;
}
.page-search .node-results  .title,
.page-search .node-results  .search-snippet,
.page-search .node-results  .search-info{
	border-bottom: 1px solid #eee;
}
.page-search .search-snippet-info{
	padding-left:0;
}
/********************************/
/*		GROUP FORMS 			*/			
/********************************/

/* searches in content */
.content .views-exposed-form, .group-advanced-search {
	border:1px dashed #ccc;
	background:#fafafa;
	padding:10px;
	margin-bottom:16px;
}

.group-advanced-search label{
	font-size:14px;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	font-weight:normal;
	clear:both;
	display:block;
}

.group-advanced-search .form-text,
.group-advanced-search .form-type-date-popup{
	width:100%!important;
}
.group-advanced-search .date-padding{
	padding:0 15px 0 0;
	width:100%;
}
.group-advanced-search .form-type-select{
	width:30%;
	margin-right:2%;
}
.group-advanced-search .large-search-input-group{	
	margin-bottom:16px;
}
.group-advanced-search #edit-date-filter-wrapper{
	width:100%;
	clear:both;
}
.group-advanced-search #edit-date-filter-min-wrapper,
.group-advanced-search #edit-date-filter-max-wrapper{
	width:50%;
	float:left;
}
.group-advanced-search #edit-date-filter-min,
.group-advanced-search #edit-date-filter-max{
	width:100%;
}


/********************************/
/**		USER PROFILE BADGES		*/
/********************************/
#badges{}
#badges .role{
	position:relative;
	width:100%;
	text-align:center;
	margin:10px 0;
}

/****************************************/
/*		USER LOGIN (HOME) STYLES		*/
/****************************************/
#block-user-login{
	
}
#block-user-login label{
	
}
#block-user-login input[type=text]{
	
}
/****************************************/
/*		Events Advanced Search			*/
/****************************************/
.search-block input[type=text]{
	width:100%;
}


/***********************************************/
/****		USER PROFILE STYLES				****/
/***********************************************/
.about-me{
	
}
.about-me .img-responsive{
	margin-bottom:5px;
}
.about-me .flag-follow-user-name-{
	
}
.about-me ul{
	text-align:center;
	margin:15px 0;
}
.about-me ul:first-child{
	padding-right:5px;
}
.about-me ul li{
	padding:5px 0px;
	position:relative;
	/*float:left;*/
	display:inline-block;
}
.about-me ul li spam{
	margin-bottom:0;
}
.about-me .flag{
	text-align:center;
	position:relative;
	z-index:1;
}
.about-me .flag-throbber{
	position:absolute;
	top:50%;
	left:50%;
	z-index:2;
	margin-bottom:initial;
	height:22px;
	margin-top:-10px;
	margin-left:-10px;
}
.about-me .flag-wrapper{
	margin:0;
}

/********************************************/
/*		ADVANCED SEARCH (HEADING)			*/
/********************************************/
.region-big-search{}
.region-big-search label{
	clear:both;
	float:none!important;
	display:block;
}
.region-big-search #edit-date-filter-min-wrapper,
.region-big-search #edit-date-filter-max-wrapper{
	text-align:left;
}
.region-big-search #edit-date-filter-min-wrapper .form-item,
.region-big-search #edit-date-filter-max-wrapper .form-item{
	width:100%;
}
.region-big-search #edit-date-filter-min-wrapper .form-item #edit-date-filter-min,
.region-big-search #edit-date-filter-max-wrapper .form-item #edit-date-filter-max{
	width:100%;
}
.region-big-search fieldset label{
	text-align:left;
}
.region-big-search .description{
	color:white;
	background:none;
	font-size:11px;
}

.region-big-search fieldset.collapsible {
background: rgba(0,0,0,0.4);
}

.region-big-search #edit-date-filter-min-wrapper input[type="text"],
.region-big-search #edit-date-filter-max-wrapper input[type="text"]{
	width:100%;
}


/***********************************************/
/****		ADVANCED SEARCH (SIDEBAR)		****/
/***********************************************/

.sidebar .description{
	font-size:10px;
	padding:1px;
}

.sidebar fieldset.collapsible {
	border:1px dashed #ccc;
}

#sidebar .views-exposed-form .views-exposed-widget{
	margin-bottom:0;
}
#sidebar .views-exposed-form .views-widget{
	min-height:32px;
	
}
#sidebar .views-exposed-form .collapsible {
	height:auto;
}
#sidebar .views-exposed-form .fieldset-legend{
    height: 36px;
    line-height: 1.5em;
    padding-left: 11px;
    background-position: 1px 50%;
}
#sidebar .views-exposed-form .fieldset-legend legend, #sidebar .views-exposed-form .collapsible legend{
	margin-bottom:0px;
}
#sidebar .views-exposed-form label{
	color:#555;
}
#sidebar .views-exposed-form input[type=text]{
	border:1px solid #ccc;
	line-height:22px;
	font-size:14px;
	padding:3px 1%;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	width:100%;
}
#sidebar .views-exposed-form a.fieldset-title{
	color:#555;
	font-family: inherit;
	font-size: 13px;
	font-weight: bold;
}
#sidebar .views-exposed-form a.fieldset-title:hover{
	text-decoration:none;
}
#sidebar .views-exposed-form select{
	width:100%;
	border:1px solid #ccc;
	line-height:22px;
	font-size:14px;
	padding:3px 1%;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
}
#sidebar #edit-date-filter-min, #sidebar #edit-date-filter-max{
	width:100%;
}
#sidebar #edit-date-filter-min .form-type-select, #sidebar #edit-date-filter-max .form-type-select{
	width:100%;
	margin:0 0 0.5em 0;
}
#sidebar .views-exposed-widget{
	clear:both;
	float:none;
}
#sidebar #edit-submit-blogs{
	padding:6px 13px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
	border:none; 
	color:white;
	line-height:22px;
	font-size:14px;
	background:#5cb85c; 
	margin-top:0;
	margin-bottom:20px;
}
#sidebar #edit-submit-blogs:hover{
	background:#4cae4c;
}

/****		NODE-FORMS					***/
/******************************************/
.node-form{

}
.node-form .form-wrapper{
	margin: 20px 0;
	border: 1px dashed #ccc;
	padding: 10px;
}

/*Components*/
/*Text input label*/
.node-form  .form-item label,
#user-profile-form label{
	color:rgb(102, 102, 102);
	font-size:18px;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	font-weight:normal;
}
.node-form .form-item .form-required{

}
/*Text Input*/
.node-form .form-text,
#user-profile-form .form-text,
.group-advanced-search .form-text{
	display:block;
	width:100%;
	padding:3px 1%;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:22px;
	border:1px solid #ccc;
}
/*Text area*/
.node-form .form-item textarea,
#user-profile-form .form-item textarea,
.group-advanced-search .form-item textarea{
	border:1px solid #ccc;
}
/**
*Image widget area*
**/
.node-form .image-widget-data,
.group-advanced-search .image-widget-data{
	float:none;
}
.node-form .image-widget-data .form-type-textfield,
.group-advanced-search .image-widget-data .form-type-textfield{
	clear:both;
	float:none;
}
/*Choose file button*/
.node-form .form-file,
#user-profile-form .form-file,
.group-advanced-search .form-file{
	display:inline-block;
	margin-right:20px;
}
.node-form input.form-file{

}
/* Checkboxes and radio */
.node-form .date-float,
.group-advanced-search .date-float{
	width:100%;
}
.node-form .form-type-checkbox,
#user-profile-form  .form-type-checkbox,
.node-form .form-type-radio,
#user-profile-form .form-type-radio,
.group-advanced-search .form-type-radio{
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  display: inline-block;
  width: 25%;
  margin-right: 8%;
  vertical-align:top;
}
.node-form .form-type-checkbox label,
#user-profile-form  .form-type-checkbox label,
.node-form .form-type-radio label,
#user-profile-form .form-type-radio label,
.group-advanced-search .form-type-checkbox label,
.group-advanced-search .form-type-checkbox label{
	font-size:14px;
	margin: 0;
	line-height: 1em;
	vertical-align:top;
}
.node-form .form-type-checkbox input[type="checkbox"],
#user-profile-form  .form-type-checkbox input[type="checkbox"],
.node-form .form-type-radio input[type="radio"],
#user-profile-form .form-type-radio input[type="radio"],
.group-advanced-search .form-type-radio input[type="radio"]{
    float: left;
    /*height: 15px;*/
    margin-right: 6px;
    margin-top: 2px;
    padding-bottom: 7px;
    vertical-align: baseline;
    /*width: 15px;*/
}
.node-form .form-type-checkbox .description,
#user-profile-form  .form-type-checkbox .description,
.node-form .form-type-radio .description,
#user-profile-form .form-type-radio .description,
.group-advanced-search .form-type-radio .description,
.group-advanced-search .form-type-checkbox.description{
	margin:0;
	line-height:1.2em;
}
/*Select*/
.node-form .form-select,
#user-profile-form .form-select,
.group-advanced-search .form-select{
	width:100%;
	font-size:14px;
	line-height:22px;
	padding:3px;
	border:1px solid #ccc; 
}
/*Exclusive margin rules for certain field types*/
.node-form .field-type-datetime,
.node-form .field-name-og-group-ref{
	margin:40px 0;
}
/*Day selector exclusive classes*/
.node-form .date-processed{

}
.node-form legend,
.group-advanced-search legend{ 
	font-size:18px;
}
#user-profile-form legend{
	font-size:18px;
	line-height:25px;
	color: white;
	margin-bottom: 0;
	background: #0e70a3;
	padding: 5px;
	line-height: 1em;
	position: absolute;
	top: 0;
	left: 0;
}
#user-profile-form legend a,
#user-profile-form legend .fieldset-legend{
	font-size:18px;
	line-height:25px;
	color: white;
	margin-bottom:5px;
	margin-left:5px;
}
.node-form legend a,
.node-form legend .fieldset-legend{
	font-size:18px;
	color:rgb(102, 102, 102);
}
.node-form .date-processed .container-inline-date,
.group-advanced-search .container-inline-date{
	width:100%;
}
.node-form .date-processed .form-type-date-select,
.group-advanced-search .form-type-date-select{
	width:100%;
}
.node-form .date-processed .date-padding,
.group-advanced-search .date-processed .date-padding{
	padding:0;
	width:100%;
}
.node-form .date-processed .form-type-select,
.group-advanced-search .date-processed .form-type-select{
	width:30%;
}
.node-form .date-processed .form-item-field-publication-date-und-0-value-day{
	margin:0 5%;
}
/*Date selector*/
.node-form .field-name-field-event-date{
	
}
.node-form .field-name-field-event-date .form-item-field-event-date-und-0-value-day,
.node-form .field-name-field-event-date .form-item-field-event-date-und-0-value-minute,
.node-form .field-name-field-event-date .form-item-field-event-date-und-0-value2-day,
.node-form .field-name-field-event-date .form-item-field-event-date-und-0-value2-minute{
	margin:0 5%;
}
.node-form .field-name-field-event-date .form-item-field-event-date-und-0-value-hour,
.node-form .field-name-field-event-date .form-item-field-event-date-und-0-value2-hour{
	margin:0;
}
/*Upload file button*/
.node-form .form-file .form-submit, #user-profile-form .form-file .form-submit{
	display:inline-block;
}
/*Submit button*/
.node-form .form-actions .form-submit, #user-profile-form .form-actions .form-submit{
	margin-right:15px;
}
/*All button styles*/
.node-form .form-submit,
#user-profile-form .form-submit,
#edit-field-document-file-und-0-remove-button,
#edit-cancel,
#privatemsg-list fieldset .form-submit,
#privatemsg-list #edit-delete,
#privatemsg-list #edit-delete--2,
#privatemsg-list #edit-delete--3,
#privatemsg-list #edit-tag-add-submit,
#privatemsg-list #edit-tag-add-submit--2,
#privatemsg-list #edit-tag-add-submit--3,
.view-group-members .form-submit,
.confirmation #edit-submit{
	padding:6px 13px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
	border:none; 
	color:white;
	line-height:22px;
	font-size:14px;
}
/*Table fields*/
.node-form .field-multiple-table, #user-profile-form .field-multiple-table{
	width:100%;
}
.node-form .field-multiple-table .draggable,  #user-profile-form .field-multiple-table .draggable{
	border:1px solid #ccc;
}
.node-form .field-multiple-table input,  #user-profile-form .field-multiple-table input{
	border:none;
}
.node-form .field-multiple-table th,  #user-profile-form .field-multiple-table th{
	border:none;
}
/*Save buttons*/
.node-form #edit-submit,
#user-profile-form #edit-submit,
.view-group-members .form-submit{
	background:#5cb85c; 
	border-color:#4cae4c;
	margin:20px 10px 20px 0;
}
.node-form #edit-submit:hover,
.node-form #edit-submit:focus,
.node-form #edit-submit:active,
#user-profile-form #edit-submit:hover,
#user-profile-form #edit-submit:focus,
#user-profile-form #edit-submit:active,
.view-group-members .form-submit:hover,
.view-group-members .form-submit:focus,
.view-group-members .form-submit:active{
	background:#47a447;
}
/*Other buttons*/
.node-form .form-submit,
#user-profile-form .form-submit,
#privatemsg-list fieldset .form-submit,
#privatemsg-list #edit-tag-add-submit,
#privatemsg-list #edit-tag-add-submit--2,
#privatemsg-list #edit-tag-add-submit--3{
	background:#3498db;
}
.node-form .form-submit:hover,
.node-form .form-submit:focus,
.node-form .form-submit:active,
#user-profile-form .form-submit:hover,
#user-profile-form .form-submit:focus,
#user-profile-form .form-submit:active,
#privatemsg-list #edit-tag-add-submit:hover,
#privatemsg-list #edit-tag-add-submit:focus,
#privatemsg-list #edit-tag-add-submit:active,
#privatemsg-list #edit-tag-add-submit--2:hover,
#privatemsg-list #edit-tag-add-submit--2:focus,
#privatemsg-list #edit-tag-add-submit--2:active{
	background:#2980b9;
	border:none;
}
/*Delete button*/
#edit-delete,
#edit-field-document-file-und-0-remove-button,
#edit-cancel,
#privatemsg-list #edit-delete--2,
#privatemsg-list #edit-delete--3,
.confirmation #edit-submit{
	background:#be442c;
	color:white; 
}
#edit-cancel{
	padding:9px;
}
#edit-delete:hover,
#edit-delete:focus,
#edit-delete:active,
#privatemsg-list #edit-delete--2:hover,
#privatemsg-list #edit-delete--2:focus,
#privatemsg-list #edit-delete--2:active,
#edit-field-document-file-und-0-remove-button:hover,
#edit-field-document-file-und-0-remove-button:focus,
#edit-field-document-file-und-0-remove-button:active,
#edit-cancel:hover,
#edit-cancel:focus,
#edit-cancel:active{ 
	background:#DB3312;
	border:none;
	text-decoration:none;
}

/******************************************/
/****			FLAG-BUTTONS			***/
/******************************************/

/*Report menu*/
.report-menu{
	position:relative;
	display:inline-block!important;
}
.report-menu:hover > .item-list{
	display:block;
}
.report-menu:hover > .btn-u{
	background:#be442c!important;
	color:white;
}
.report-menu .item-list{
	display:none;
	position:absolute;
	top: 23px;
	left: 5px;
	padding-top: 0px;
	background: transparent;
	min-width: 165px;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,.15);
	border-radius:4px;
	-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
	box-shadow:0 6px 12px rgba(0,0,0,.175);
	background-clip:padding-box;
}
.comment .report-menu .item-list{
	left: 7px;
}
.report-menu .item-list ul{
	list-style:none;
	width:100%;
	margin:0;
}
.report-menu .item-list ul li{
	margin:0;
	padding: 6px 5px;
	background: white;
	width:100%;
	line-height: 1em;
	z-index: 9999999;
	position: relative;
	display:block;
}
.report-menu .item-list ul li:hover{
	/*background:#be442c;*/
	color:white!important; 
}
.report-menu .item-list ul li:hover  a{
	color:#be442c!important;
}
.report-menu .item-list ul li a{
	text-decoration:none;
	background:white!important;
	color:#555!important;
}
.report-menu .item-list .unflag-action{
	color:#be442c!important;
}
.report-menu .item-list ul li a:hover{
	text-decoration:none;
	color:white;
}
/*Flag-unflag button actions*/
.unflag-action{
	background:#1a3b6a!important;
	color:white!important;
}
.flag-action{

}
/********************************************/
/*		Edit user profile page styles		*/
/********************************************/
/*User picture*/
.user-picture img{
	height:auto;
}
.page-messages .user-picture img{
	width:60px;
	height:auto;
}
#user-profile-form{
	/* main wrapper id for user profile form */
}
#user-profile-form .user-picture{
	
}
#user-profile-form .user-picture img{
	/*width:100%;*/
	max-width:120px;
	height:auto;
}
#user-profile-form .form-item-picture-delete{
	margin-top: 15px;
	vertical-align: bottom;
	width:50%;
	margin-bottom: 0;
}
#user-profile-form .form-item-picture-delete .description{
	margin-left:0;
}
#user-profile-form .form-type-password, #user-profile-form .password-suggestions{
	width:100%;
}
#user-profile-form fieldset{
	margin: 0;
	border: 1px solid #0e70a3;
	position: relative;
	min-height: 41px;
}
#user-profile-form fieldset.collapsed{
	min-height: 41px;
}
#user-profile-form fieldset .fieldset-wrapper{
	padding: 40px 20px 0 20px;
}
/*Custom paddings and margins*/
#edit-og-user-node{
	margin-top:20px;
}
#edit-picture .fieldset-wrapper{
	padding-top: 54px!important;
}
/****************************************/
/*			ADD CONTENT BUTTONS			*/
/****************************************/
.add-content-menu{
	list-style:none;
	padding:0;
	margin:0 0 0 0;
}
.add-content-menu li{
	width:100%;
	padding:0;
	margin:10px 0;
	text-align:left;
}
.add-content-menu li a{
	text-align:center;
}
.add-content-menu .btn-u{
	
}
/****************************************/
/*			ADD CONTENT BUTTONS			*/
/****************************************/
ul.pager{
	clear:both;
}
/****************************************************/
/*			MENU COLOR - CLICK EVENT FIX 			*/
/****************************************************/
.header-v1 .navbar-default .navbar-nav > li > a:hover,
.header-v1 .navbar-default .navbar-nav > li > a:focus,
.header-v1 .navbar-default .navbar-nav > li > a:active{
	background:#1080ba!important;
}



/*************************************************/
/*		SIDEBAR BUTTONS SPACING FIX				 */
/*************************************************/
#sidebar-first .add-content-menu{
	margin:0;
}


/************************************************/
/*			private message page form			*/
/************************************************/
#privatemsg-list{}
#privatemsg-list fieldset{
	margin-bottom:20px;
	height:auto;
	background:#fafafa;
	padding:10px;
	border:1px dashed #ccc;
}
#privatemsg-list fieldset.collapsed{
	border:none;
	background:transparent;
	margin-bottom:0px;
}
#privatemsg-list fieldset legend{
	font-family: inherit;
	font-size: 13px;
	font-weight: bold;
	margin-bottom:0px;
}
#privatemsg-list fieldset legend a{
	color:#555;
	text-decoration:none;
}
#privatemsg-list fieldset legend a:hover{
	text-decoration:none;
}
#privatemsg-list fieldset label{
	float:none!important;
	width:100%!important;
	text-align:left!important;
	color:#555;
}
#privatemsg-list fieldset input[type="text"]{
	width:100%;
}
#privatemsg-list fieldset .form-item{
	margin:0;
	display:block;
}
#privatemsg-list fieldset .form-submit{
	margin-right:15px;
	margin-bottom:0;
}
#privatemsg-list #edit-delete{
	
}
#privatemsg-list #edit-tag-add-submit{

}
#privatemsg-list-form .container-inline .form-submit{
	padding:3px 13px!important;
}
#privatemsg-list-form .form-type-select select{
	border:1px solid #ccc;
	line-height:22px;
	font-size:14px;
	padding:3px 1%;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
}
/************************************/
/*			FOOTER STYLES 			*/
/************************************/
.copyright li{
	padding:0 30px!important;
}

/************************************/
/*		GROUP USERS SEARCH			*/
/************************************/
.view-group-members label{
	font-size:14px;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	font-weight:normal;
	clear:both;
	display:block;
	color:#333;
	margin-bottom:17px;
}
.view-group-members #edit-combine-wrapper{
	float:none;
	clear:both;
	padding:0;
	width:100%
}
.view-group-members input[type=text]{
	display: table-cell;
	float: left;
	width: 100%;
	margin-bottom: 0;
	box-shadow: none;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
.view-group-members .form-submit{
	margin:14px 0 0 0!important;
}
/********************************************/
/*			PRIVATE MESSAGE VIEW 			*/
/********************************************/
.privatemsg-message{
	
} 
.privatemsg-message .privatemsg-author-avatar{
	width:auto;
	margin-right:20px;
}
.privatemsg-message .privatemsg-message-column{
	float:left;
} 


#content .discussion .user-picture img,
#content #comments .user-picture img,
#sidebar-first .user-picture img,
#sidebar .user-picture img,
#sidebar-first .group-members img,
#sidebar .group-members img{ 
	max-width:60px!important;
	height:auto!important;
}

/********************************/
/*		GRID SYSTEM FIX			*/
/********************************/
 #block-system-main .views-row:nth-of-type(3n+1) {
clear: both;
}

/****************************/
/*		confirmation		*/
/****************************/
.confirmation{
}
.confirmation #edit-cancel{
	background:#95a5a6;
	color:white;
	margin-left:25px;
}
.confirmation #edit-cancel:hover{
	background:#7f8c8d;
}
.confirmation .edit-submit{
	margin-right:25px;
}
.confirmation .edit-submit:hover{
	background:#DB3312;
}

div#block-search-form {
    width: 192px;
    margin: 20px 0;
}