/* slider */
.views_slideshow_slide {
	width: 100% !important;
}
.slide img{
	display: block;
	max-width: 100%;
	height: auto;
}


.slide-title{
	text-transform: uppercase;
	font-size: 26px;
}

/* pager widget*/
.slider-link{
	padding: 5px 8px;
	border: solid 1px #ccc;
}

.widget_pager {
	float: right;
}

.views_slideshow_pager_field_item {
	display: inline-block;
}

