.inq_events{
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.inq_events .content{
    padding: 0.5em 0;
}

.inq_events .title{
    padding: 0.2em 0;
    border-bottom: 1px solid #DDDDDD;
}