/* backend description color */
div.description, div.help{
  color: green !important;
}

.media-widget {
background: #C0FFC0;
}
.media-widget .launcher {
color: #000;
font-weight: bold;
background: #fff !important;
}
.page-admin-reports-dblog .form-item {
width: auto;
padding: 9px;
}