/* gallery*/
#grid{
	height: auto;
	margin: 0 auto;
	text-align: center;
	overflow: auto;
}


.box {
	border: 5px solid #fff;
	cursor: pointer;
	float: left;
	position: relative;
	overflow: hidden;
	width: 220px;
	height: 200px !important;
}

.video-box::before{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../img/play-icon.png") no-repeat center;
	background-color: rgba(255,255,255,0.3);
	content: ".";
	z-index: 200;
	left: 0;
	bottom: 0;
}

.video-box:hover:before{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../img/play-icon.png") no-repeat center;
	background-color: rgba(255,255,255,0.4);
	content: ".";
	z-index: 200;
	left: 0;
	bottom: 0;
}

#grid .box > img {  
    position: absolute;  
    left: 0;
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;
    min-height:100%!important;
    max-width:300px!important;
    width:auto!important;
}  

.box .caption{
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	left: 0;
}

.box .caption p{
	color:white;
}

.box .full-caption {  
    width: 100%;  
    height: 200px;  
    top: -200px;  
    text-align: left;  
    padding: 15px;  
    z-index: 300;
}  

.box:hover .full-caption {  
    -moz-transform: translateY(100%);  
    -o-transform: translateY(100%);  
    -webkit-transform: translateY(100%);  
    transform: translateY(100%);  
}    

.carousel-inner.gallery .item {
	height: 68px;
}

.carousel-inner.gallery .item .video-embed-description{
	display: none;
}

.multimedia-gallery-block{}

.multimedia-gallery-block .field-content{
	display: block;
	float: left;
}

.multimedia-gallery-block .more-link{
	clear: both;
	text-align: left;
	display: block;
}

.multimedia-gallery-block .field-content img{
	width: 56px;
	height: auto;
}


/* Gallery comments */
.gallery-comments #edit-preview{
	display:none;
}